In [171]:
%pip install pandasql
import pandas as pd
from IPython.display import display
import numpy as np
import pandasql as ps
from datetime import datetime

DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
Requirement already satisfied: pandasql in /opt/homebrew/lib/python3.9/site-packages (0.7.3)
Requirement already satisfied: sqlalchemy in /opt/homebrew/lib/python3.9/site-packages (from pandasql) (1.4.39)
Requirement already satisfied: pandas in /opt/homebrew/lib/python3.9/site-packages (from pandasql) (1.4.2)
Requirement already satisfied: numpy in /opt/homebrew/lib/python3.9/site-packages (from pandasql) (1.23.0)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/homebrew/lib/python3.9/site-packages (from pandas->pandasql) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/homebrew/lib/python3.9/site-packages (from pandas->pandasql) (2022.1)
Requirement already satisfied: six>=1.5 in /opt/homebrew/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas->pandasql) (1.16.0)
DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
WARNING: There was an error checking the latest version of pip.
Note: you may need to restart the kernel to use updated packages.

In [56]:
column_names = [
    "NUMERO_DE_RASTREO", 
    "TIPO_DE_IDENTIFICACION_DEL_TITULAR", 
    "NRO_DE_IDENTIFICACION_DEL_TITULAR", 
    "INDICADOR_DE_SOLO_TITULAR_PRINCIPAL", 
    "INDICADOR_DE_OMITIR_CUENTAS_CANCELADAS",
    "OFICINA_DUENA_DE_LA_CUENTA", 
    "CUENTA_PERMITE_DEBITOS_SOBREGIRO", 
    "CUENTA_PERMITE_CREDITOS_SOBREGIRO", 
    "MARCAS_DE_LAS_CUENTAS_1", 
    "FILLER_PARA_USO_FUTURO", 
    "CODIGO_DE_RESPUESTA",
    "DESCRIPCION_DE_RESPUESTA",
    "CONSECUTIVO_DE_CUENTAS_CONSULTADAS_POR_CLIENTE",
    "TIPO_DE_CUENTA_A_CONSULTAR", 
    "NUMERO_DE_CUENTA",
    "CODIGO_DE_LA_OFICINA_DUENA_DE_LA_CUENTA", 
    "CUENTA_PERMITE_DEBITOS", 
    "CUENTA_PERMITE_CREDITOS",
    "MONEDA", 
    "FECHA_DE_APERTURA_DE_LA_CUENTA", 
    "NUMERO_DE_DIAS_DE_INACTIVIDAD_DE_LA_CUENTA", 
    "INDICADOR_DE_CUENTA_CANCELADA", 
    "FECHA_DE_CIERRE_DE_LA_CUENTA",
    "NUMERO_DE_COTITULARES", 
    "TIPO_IDENTIFICACION_TITULAR", 
    "NRO_DE_IDENTIFICACION_TITULAR",
    "NOMBRE_TITULAR_CUENTA", 
    "RELACION_ENTRE_CLIENTE_Y_CUENTA",
    "MARCAS_DE_LAS_CUENTAS",
    "REGIMEN_CUENTA_MAESTRA", 
    "CODIGO_DE_SERVICIO",
    "PLAZO_SOBREGIRO",
    "DIAS_SOBREGIRO",
    "DIAS_EN_MORA_SOBREGIRO",
    "CLASIFICACION_CARTERA_PARA_CTAS_CORRIENTES",
    "SIGNO_DEL_CUPO_DE_SOBREGIRO", 
    "VALOR_DEL_CUPO_DE_SOBREGIRO", 
    "SIGNO_DEL_SALDO_EFECTIVO_DE_LA_CUENTA",
    "SALDO_EFECTIVO_DE_LA_CUENTA", 
    "SIGNO_DEL_SALDO_EN_CANJE_DE_LA_CUENTA", 
    "SALDO_EN_CANJE_DE_LA_CUENTA",
    "SIGNO_DEL_SALDO_DISPONIBLE_DE_LA_CUENTA", 
    "SALDO_DISPONIBLE_DE_LA_CUENTA", 
    "SIGNO_DEL_SALDO_DISPONIBLE_SIN_SOBREGIRO", 
    "SALDO_DISPONIBLE_SIN_SOBREGIRO", 
    "SIGNO_DEL_SALDO_EN_CUENTA_POR_COBRAR",
    "SALDO_EN_CUENTA_POR_COBRAR", 
    "SIGNO_DEL_SALDO_BLOQUEADO", 
    "SALDO_BLOQUEADO", 
    "SIGNO_DE_SALDO_EN_BOLSILLOS", 
    "SALDO_EN_BOLSILLOS", 
    "SIGNO_DEL_SALDO_EN_CANJE_AL_INICIO_DEL_DIA", 
    "SALDO_EN_CANJE_AL_INICIO_DEL_DIA",
    "SIGNO_DEL_SALDO_EFECTIVO_AL_INICIO_DEL_DIA", 
    "SALDO_EFECTIVO_AL_INICIO_DEL_DIA", 
    "SIGNO_DEL_SALDO_DE_DISPONIBLE_DEL_CUPO_DE_SOBREGIRO", 
    "SALDO_DE_DISPONIBLE_DEL_CUPO_DE_SOBREGIRO",
    "SIGNO_INTERES_NORMALES",
    "INTERES_NORMALES",
    " SIGNO_INTERES_EN_SUSPENSION",
    "INTERES_EN_SUSPENSION",
    "SIGNO_CUPO_DE_REMESAS", 
    "CUPO_DE_REMESAS", 
    "SIGNO_CUPO_REMESA_NEGOCIADA", 
    "CUPO_REMESA_NEGOCIADA",
    "SIGNO_UTILIZACION_REMESAS",
    "UTILIZACION_DE_REMESAS", 
    "PARA_USO_FUTURO_INFO_DE_LA_CUENTA", 
    "CAPTACION"
]

print(len(column_names))

types = {}

for value in column_names:
    types[value] = str

df_productos_legales = pd.read_csv("data/input/ProductosLegales", sep="|", header=None, names=column_names, index_col=False, dtype=types)
display(df_productos_legales)

69

,NUMERO_DE_RASTREO,TIPO_DE_IDENTIFICACION_DEL_TITULAR,NRO_DE_IDENTIFICACION_DEL_TITULAR,INDICADOR_DE_SOLO_TITULAR_PRINCIPAL,INDICADOR_DE_OMITIR_CUENTAS_CANCELADAS,OFICINA_DUENA_DE_LA_CUENTA,CUENTA_PERMITE_DEBITOS_SOBREGIRO,CUENTA_PERMITE_CREDITOS_SOBREGIRO,MARCAS_DE_LAS_CUENTAS_1,FILLER_PARA_USO_FUTURO,...,SIGNO_INTERES_EN_SUSPENSION,INTERES_EN_SUSPENSION,SIGNO_CUPO_DE_REMESAS,CUPO_DE_REMESAS,SIGNO_CUPO_REMESA_NEGOCIADA,CUPO_REMESA_NEGOCIADA,SIGNO_UTILIZACION_REMESAS,UTILIZACION_DE_REMESAS,PARA_USO_FUTURO_INFO_DE_LA_CUENTA,CAPTACION
0,000000000001,1,000000068287066,T,Y,NaN,NaN,NaN,NaN,NaN,...,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000
1,000000000021,1,000000008699669,T,Y,NaN,NaN,NaN,NaN,NaN,...,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000
2,000000000002,1,000001090407176,T,Y,NaN,NaN,NaN,NaN,NaN,...,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000
3,000000000040,1,000000080431468,T,Y,NaN,NaN,NaN,NaN,NaN,...,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000
4,000000000023,1,000000075070484,T,Y,NaN,NaN,NaN,NaN,NaN,...,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33277,000000009025,1,000000045526350,T,Y,NaN,NaN,NaN,NaN,NaN,...,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000
33278,000000009029,1,000000045485857,T,Y,NaN,NaN,NaN,NaN,NaN,...,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000
33279,000000009030,1,000001143353738,T,Y,NaN,NaN,NaN,NaN,NaN,...,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000
33280,000000009030,1,000001143353738,T,Y,NaN,NaN,NaN,NaN,NaN,...,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000
33281,000000009030,1,000001143353738,T,Y,NaN,NaN,NaN,NaN,NaN,...,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000

In [57]:
df_productos_legales.describe()

,NUMERO_DE_RASTREO,TIPO_DE_IDENTIFICACION_DEL_TITULAR,NRO_DE_IDENTIFICACION_DEL_TITULAR,INDICADOR_DE_SOLO_TITULAR_PRINCIPAL,INDICADOR_DE_OMITIR_CUENTAS_CANCELADAS,OFICINA_DUENA_DE_LA_CUENTA,CUENTA_PERMITE_DEBITOS_SOBREGIRO,CUENTA_PERMITE_CREDITOS_SOBREGIRO,MARCAS_DE_LAS_CUENTAS_1,FILLER_PARA_USO_FUTURO,...,SIGNO_INTERES_EN_SUSPENSION,INTERES_EN_SUSPENSION,SIGNO_CUPO_DE_REMESAS,CUPO_DE_REMESAS,SIGNO_CUPO_REMESA_NEGOCIADA,CUPO_REMESA_NEGOCIADA,SIGNO_UTILIZACION_REMESAS,UTILIZACION_DE_REMESAS,PARA_USO_FUTURO_INFO_DE_LA_CUENTA,CAPTACION
count,33282,33282,33282,33282,33282,0,0,0,0,0,...,33282,33282,33282,33282,33282,33282,33282,33282,33282,33282
unique,7879,2,6240,1,1,0,0,0,0,0,...,1,81,1,43,1,12,1,9,1,2
top,000000008376,3,000000890903938,T,Y,NaN,NaN,NaN,NaN,NaN,...,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000
freq,921,24729,22104,33282,33282,NaN,NaN,NaN,NaN,NaN,...,33282,33151,33282,33218,33282,33232,33282,33263,33282,33280

In [58]:
df_productos_legales.shape

(33282, 69)

In [59]:
total_null = df_productos_legales.isnull().sum().sort_values(ascending = False) # Total de nulos
percent_null = (df_productos_legales.isnull().sum()/df_productos_legales.isnull().count()).sort_values(ascending = False) #porcentaje de nulos
missing_data = pd.concat([total_null,percent_null],axis = 1,keys=['total_null','percent_null'])
missing_data

                                    total_null  percent_null
OFICINA_DUENA_DE_LA_CUENTA               33282           1.0
CUENTA_PERMITE_DEBITOS_SOBREGIRO         33282           1.0
CUENTA_PERMITE_CREDITOS_SOBREGIRO        33282           1.0
MARCAS_DE_LAS_CUENTAS_1                  33282           1.0
FILLER_PARA_USO_FUTURO                   33282           1.0
...                                        ...           ...
DIAS_SOBREGIRO                               0           0.0
DIAS_EN_MORA_SOBREGIRO                       0           0.0
TIPO_DE_IDENTIFICACION_DEL_TITULAR           0           0.0
SIGNO_DEL_CUPO_DE_SOBREGIRO                  0           0.0
CAPTACION                                    0           0.0

[69 rows x 2 columns]

In [60]:
df_productos_legales.dtypes

NUMERO_DE_RASTREO                         object
TIPO_DE_IDENTIFICACION_DEL_TITULAR        object
NRO_DE_IDENTIFICACION_DEL_TITULAR         object
INDICADOR_DE_SOLO_TITULAR_PRINCIPAL       object
INDICADOR_DE_OMITIR_CUENTAS_CANCELADAS    object
                                           ...
CUPO_REMESA_NEGOCIADA                     object
SIGNO_UTILIZACION_REMESAS                 object
UTILIZACION_DE_REMESAS                    object
PARA_USO_FUTURO_INFO_DE_LA_CUENTA         object
CAPTACION                                 object
Length: 69, dtype: object

In [61]:
df_productos_virtuales = pd.read_csv("data/input/ProductosVirtuales", sep="|", header=None, names=column_names, dtype=types)
df_productos_virtuales.head()

,NUMERO_DE_RASTREO,TIPO_DE_IDENTIFICACION_DEL_TITULAR,NRO_DE_IDENTIFICACION_DEL_TITULAR,INDICADOR_DE_SOLO_TITULAR_PRINCIPAL,INDICADOR_DE_OMITIR_CUENTAS_CANCELADAS,OFICINA_DUENA_DE_LA_CUENTA,CUENTA_PERMITE_DEBITOS_SOBREGIRO,CUENTA_PERMITE_CREDITOS_SOBREGIRO,MARCAS_DE_LAS_CUENTAS_1,FILLER_PARA_USO_FUTURO,...,SIGNO_INTERES_EN_SUSPENSION,INTERES_EN_SUSPENSION,SIGNO_CUPO_DE_REMESAS,CUPO_DE_REMESAS,SIGNO_CUPO_REMESA_NEGOCIADA,CUPO_REMESA_NEGOCIADA,SIGNO_UTILIZACION_REMESAS,UTILIZACION_DE_REMESAS,PARA_USO_FUTURO_INFO_DE_LA_CUENTA,CAPTACION
0,000000000001,3,890900250,T,Y,NaN,NaN,NaN,NaN,NaN,...,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000
1,000000000307,2,59152459,T,Y,NaN,NaN,NaN,NaN,NaN,...,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000
2,000000000307,3,19091109214037,T,Y,NaN,NaN,NaN,NaN,NaN,...,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000
3,000000000205,7,219030612,T,Y,NaN,NaN,NaN,NaN,NaN,...,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000
4,000000000069,5,5059152464,T,Y,NaN,NaN,NaN,NaN,NaN,...,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000

In [62]:
total_null = df_productos_virtuales.isnull().sum().sort_values(ascending = False) # Total de nulos
percent_null = (df_productos_virtuales.isnull().sum()/df_productos_virtuales.isnull().count()).sort_values(ascending = False) #porcentaje de nulos
missing_data = pd.concat([total_null,percent_null],axis = 1,keys=['total_null','percent_null'])
missing_data

                                    total_null  percent_null
OFICINA_DUENA_DE_LA_CUENTA                 928           1.0
CUENTA_PERMITE_DEBITOS_SOBREGIRO           928           1.0
CUENTA_PERMITE_CREDITOS_SOBREGIRO          928           1.0
MARCAS_DE_LAS_CUENTAS_1                    928           1.0
FILLER_PARA_USO_FUTURO                     928           1.0
...                                        ...           ...
DIAS_SOBREGIRO                               0           0.0
DIAS_EN_MORA_SOBREGIRO                       0           0.0
TIPO_DE_IDENTIFICACION_DEL_TITULAR           0           0.0
SIGNO_DEL_CUPO_DE_SOBREGIRO                  0           0.0
CAPTACION                                    0           0.0

[69 rows x 2 columns]

In [63]:
df_productos_virtuales.dtypes

NUMERO_DE_RASTREO                         object
TIPO_DE_IDENTIFICACION_DEL_TITULAR        object
NRO_DE_IDENTIFICACION_DEL_TITULAR         object
INDICADOR_DE_SOLO_TITULAR_PRINCIPAL       object
INDICADOR_DE_OMITIR_CUENTAS_CANCELADAS    object
                                           ...
CUPO_REMESA_NEGOCIADA                     object
SIGNO_UTILIZACION_REMESAS                 object
UTILIZACION_DE_REMESAS                    object
PARA_USO_FUTURO_INFO_DE_LA_CUENTA         object
CAPTACION                                 object
Length: 69, dtype: object

In [64]:
df_productos_legales.describe()

,NUMERO_DE_RASTREO,TIPO_DE_IDENTIFICACION_DEL_TITULAR,NRO_DE_IDENTIFICACION_DEL_TITULAR,INDICADOR_DE_SOLO_TITULAR_PRINCIPAL,INDICADOR_DE_OMITIR_CUENTAS_CANCELADAS,OFICINA_DUENA_DE_LA_CUENTA,CUENTA_PERMITE_DEBITOS_SOBREGIRO,CUENTA_PERMITE_CREDITOS_SOBREGIRO,MARCAS_DE_LAS_CUENTAS_1,FILLER_PARA_USO_FUTURO,...,SIGNO_INTERES_EN_SUSPENSION,INTERES_EN_SUSPENSION,SIGNO_CUPO_DE_REMESAS,CUPO_DE_REMESAS,SIGNO_CUPO_REMESA_NEGOCIADA,CUPO_REMESA_NEGOCIADA,SIGNO_UTILIZACION_REMESAS,UTILIZACION_DE_REMESAS,PARA_USO_FUTURO_INFO_DE_LA_CUENTA,CAPTACION
count,33282,33282,33282,33282,33282,0,0,0,0,0,...,33282,33282,33282,33282,33282,33282,33282,33282,33282,33282
unique,7879,2,6240,1,1,0,0,0,0,0,...,1,81,1,43,1,12,1,9,1,2
top,000000008376,3,000000890903938,T,Y,NaN,NaN,NaN,NaN,NaN,...,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000
freq,921,24729,22104,33282,33282,NaN,NaN,NaN,NaN,NaN,...,33282,33151,33282,33218,33282,33232,33282,33263,33282,33280

In [65]:
df_productos = df_productos_legales.append(df_productos_virtuales)

/var/folders/sc/_jqd0m8s5f9gqbgm5k_1twjc0000gn/T/ipykernel_88411/4251618290.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_productos = df_productos_legales.append(df_productos_virtuales)

In [66]:
df_productos.shape

(34210, 69)

In [67]:
df_productos.sort_values(by=['NRO_DE_IDENTIFICACION_DEL_TITULAR'])

,NUMERO_DE_RASTREO,TIPO_DE_IDENTIFICACION_DEL_TITULAR,NRO_DE_IDENTIFICACION_DEL_TITULAR,INDICADOR_DE_SOLO_TITULAR_PRINCIPAL,INDICADOR_DE_OMITIR_CUENTAS_CANCELADAS,OFICINA_DUENA_DE_LA_CUENTA,CUENTA_PERMITE_DEBITOS_SOBREGIRO,CUENTA_PERMITE_CREDITOS_SOBREGIRO,MARCAS_DE_LAS_CUENTAS_1,FILLER_PARA_USO_FUTURO,...,SIGNO_INTERES_EN_SUSPENSION,INTERES_EN_SUSPENSION,SIGNO_CUPO_DE_REMESAS,CUPO_DE_REMESAS,SIGNO_CUPO_REMESA_NEGOCIADA,CUPO_REMESA_NEGOCIADA,SIGNO_UTILIZACION_REMESAS,UTILIZACION_DE_REMESAS,PARA_USO_FUTURO_INFO_DE_LA_CUENTA,CAPTACION
856,000000000218,1,000000000119525,T,Y,NaN,NaN,NaN,NaN,NaN,...,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000
857,000000000218,1,000000000119525,T,Y,NaN,NaN,NaN,NaN,NaN,...,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000
12114,000000013973,1,000000000281485,T,Y,NaN,NaN,NaN,NaN,NaN,...,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000
13899,000000012040,1,000000000379510,T,Y,NaN,NaN,NaN,NaN,NaN,...,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000
22047,000000013266,1,000000000379510,T,Y,NaN,NaN,NaN,NaN,NaN,...,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,000000000001,3,890900250,T,Y,NaN,NaN,NaN,NaN,NaN,...,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000
870,000000000009,3,890900250,T,Y,NaN,NaN,NaN,NaN,NaN,...,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000
33,000000000006,1,89912528,T,Y,NaN,NaN,NaN,NaN,NaN,...,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000
903,000000000020,1,89912528,T,Y,NaN,NaN,NaN,NaN,NaN,...,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000
216,000000000158,1,92137605,T,Y,NaN,NaN,NaN,NaN,NaN,...,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000

In [68]:
df_embargos = pd.read_csv("data/input/embargos.csv", sep=",", header=0, index_col = False, dtype=str)

In [69]:
display(df_embargos)

,ACCOUNTOFFICE,ALLOCATIONDATE,APPLICATIONDATE,BANKCODE,BANKNAME,CASEREFERENCE,CHECKCD,CHEKMASIVO,CITY,CLAIMANTENTITY,...,RESPONDENTID,RESPONDENTNAME,RESPONSABLE,RUB,SCANUSER,SISTEMBANKNAME,SOLUTIONDAYS,SPECIALANOTATION,SUBSEGMENT,VALUE
0,918,NaN,NaN,40,Banco Todos,B1A02109A2BA11EB815800155D321E71,NO,NO,BARRANCA,Juzgado,...,890900250,TRILLOS USME AMPARO ESTHER,Deisy Paola Aguirre Vasquez,RL00119571,NaN,NaN,3,NaN,NaN,385400
1,918,NaN,NaN,40,Banco Todos,B1A02109A2BA11EB815800155D321E71,NO,NO,BARRANCA,Juzgado,...,59152459,PEDRO VICENTE REYES PEREZ,Deisy Paola Aguirre Vasquez,RL00119571,NaN,NaN,3,NaN,NaN,152736600
2,918,NaN,NaN,40,Banco Todos,B1A02109A2BA11EB815800155D321E71,NO,NO,BARRANCA,Juzgado,...,19091109214037,HENAO ESPITIA JHON FREDY 591,Deisy Paola Aguirre Vasquez,RL00119571,NaN,NaN,3,NaN,NaN,563300
3,918,NaN,NaN,40,Banco Todos,B1A02109A2BA11EB815800155D321E71,NO,NO,BARRANCA,Juzgado,...,219030612,HERNANDEZ LAVERDE FABIO,Deisy Paola Aguirre Vasquez,RL00119571,NaN,NaN,3,NaN,NaN,19765900
4,918,NaN,NaN,40,Banco Todos,B1A02109A2BA11EB815800155D321E71,NO,NO,BARRANCA,Juzgado,...,5059152464,RIERES BARRIOS JOSE RAFAEL,Deisy Paola Aguirre Vasquez,RL00119571,NaN,NaN,3,NaN,NaN,23281000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
860,918,NaN,NaN,40,NaN,CDA0A00366E511EB814D00155D484328,NO,NO,BUCARAMANGA,NaN,...,13871433,LUIS ALEJANDRO FERREIRA RUIZ,Olga Cecilia Quiroz Escobar,RL00085831,NaN,NaN,3,NaN,PERSONAS NATURALES,50000000
861,918,NaN,NaN,40,Banco Agrario,8C13075F66EC11EB814D00155D484328,NO,NO,IPIALES,Juzgado,...,13007905,CARLOS AGUSTIN JARAMILLO MESIAS,Luis Fernando Posada Rios,RL00085893,NaN,NaN,3,NaN,COMERCIO,36000000
862,918,NaN,NaN,40,Banco Agrario,AABD11F366E711EB814D00155D484328,NO,NO,MANI,Juzgado,...,900549488,OCIVILCOMP S A S RL,Luis Fernando Posada Rios,RL00085873,NaN,NaN,3,NaN,SERVICIOS NO FINANCIEROS,153200000
863,918,NaN,NaN,40,Banco Agrario,AABD11F366E711EB814D00155D484328,NO,NO,MANI,Juzgado,...,74811641,ARIEL HERNAN DIAZ RIVERA,Luis Fernando Posada Rios,RL00085873,NaN,NaN,3,NaN,CONSTRUCCION,153200000
864,918,NaN,NaN,40,NaN,BC29419666E511EB815300155D321E71,NO,NO,BUCARAMANGA,NaN,...,91295189,BANCO CAJA SOCIAL SA,Ana Carolina Osorio Osorio,RL00085826,NaN,NaN,3,NaN,NaN,25400000

In [70]:
df_embargos[["RESPONDENTID"]]

       RESPONDENTID
0         890900250
1          59152459
2    19091109214037
3         219030612
4        5059152464
..              ...
860        13871433
861        13007905
862       900549488
863        74811641
864        91295189

[865 rows x 1 columns]

In [71]:
df_embargos.describe()

,ACCOUNTOFFICE,ALLOCATIONDATE,APPLICATIONDATE,BANKCODE,BANKNAME,CASEREFERENCE,CHECKCD,CHEKMASIVO,CITY,CLAIMANTENTITY,...,RESPONDENTID,RESPONDENTNAME,RESPONSABLE,RUB,SCANUSER,SISTEMBANKNAME,SOLUTIONDAYS,SPECIALANOTATION,SUBSEGMENT,VALUE
count,865,0,0,801,654,865,865,865,865,688,...,858,857,861,865,212,0,865,0,347,807
unique,1,0,0,2,5,379,1,2,91,17,...,748,772,23,380,47,0,2,0,9,606
top,918,NaN,NaN,40,Banco Todos,B1A02109A2BA11EB815800155D321E71,NO,NO,BARRANCA,Juzgado,...,5059152464,BELLBROOK COLOMBIA SAS,Deisy Paola Aguirre Vasquez,RL00119571,bacruz,NaN,3,NaN,PERSONAS NATURALES,23580000
freq,865,NaN,NaN,800,345,281,865,850,281,370,...,4,9,281,280,40,NaN,851,NaN,180,13

In [72]:
df_embargos.shape

(865, 51)

In [73]:
df_embargos.dtypes

ACCOUNTOFFICE       object
ALLOCATIONDATE      object
APPLICATIONDATE     object
BANKCODE            object
BANKNAME            object
CASEREFERENCE       object
CHECKCD             object
CHEKMASIVO          object
CITY                object
CLAIMANTENTITY      object
CLAIMANTID          object
CLAIMANTNAME        object
CLIENTSEGMENT       object
CLOSEDOPEN          object
COMPLEJIDAD         object
DOCTYPE             object
EMISSIONDATE        object
EMPLOYEENAME        object
ENTITYPROCESS       object
ENTRYCHANNEL        object
FILEDID             object
FILIALID            object
FUTURE              object
HASRETURNED         object
ISLINKED            object
ISTOWAITFORGUID     object
LAWTYPE             object
LEGALADDRESS        object
LEGALDEPARTMENT     object
LEGALNAME           object
LEGALNUMBER         object
LETTERTYPE          object
MANAGEOBS           object
ORACLEID            object
PAIDACCOUNTNO       object
PERCENT             object
RECEPTIONDATE       object
REGISTRATIONID      object
REQUESTSENDER       object
REQUIREMENTSTATE    object
REQUIREMENTTYPE     object
RESPONDENTID        object
RESPONDENTNAME      object
RESPONSABLE         object
RUB                 object
SCANUSER            object
SISTEMBANKNAME      object
SOLUTIONDAYS        object
SPECIALANOTATION    object
SUBSEGMENT          object
VALUE               object
dtype: object

In [74]:
total_nulos = df_embargos.isnull().sum().sort_values(ascending = False)
porcentaje_nulos = (df_embargos.isnull().sum()/df_embargos.isnull().count()).sort_values(ascending = False)
cuadro_nulos = pd.concat([total_nulos, porcentaje_nulos], axis = 1, keys = ['total_nulos','porcentaje_nulos'])
cuadro_nulos

                  total_nulos  porcentaje_nulos
APPLICATIONDATE           865          1.000000
ALLOCATIONDATE            865          1.000000
MANAGEOBS                 865          1.000000
CLIENTSEGMENT             865          1.000000
SPECIALANOTATION          865          1.000000
SISTEMBANKNAME            865          1.000000
SCANUSER                  653          0.754913
CLAIMANTID                529          0.611561
ISTOWAITFORGUID           520          0.601156
SUBSEGMENT                518          0.598844
ISLINKED                  347          0.401156
LEGALNUMBER               301          0.347977
PAIDACCOUNTNO             211          0.243931
BANKNAME                  211          0.243931
CLAIMANTENTITY            177          0.204624
FILIALID                  177          0.204624
CLAIMANTNAME              177          0.204624
CLOSEDOPEN                177          0.204624
EMISSIONDATE              177          0.204624
BANKCODE                   64          0.073988
LEGALADDRESS               62          0.071676
VALUE                      58          0.067052
EMPLOYEENAME               43          0.049711
ENTITYPROCESS              14          0.016185
LETTERTYPE                 14          0.016185
RESPONDENTNAME              8          0.009249
RESPONDENTID                7          0.008092
RESPONSABLE                 4          0.004624
LEGALDEPARTMENT             2          0.002312
COMPLEJIDAD                 1          0.001156
CITY                        0          0.000000
RUB                         0          0.000000
FUTURE                      0          0.000000
REQUIREMENTSTATE            0          0.000000
CHEKMASIVO                  0          0.000000
SOLUTIONDAYS                0          0.000000
CHECKCD                     0          0.000000
CASEREFERENCE               0          0.000000
REQUIREMENTTYPE             0          0.000000
RECEPTIONDATE               0          0.000000
REQUESTSENDER               0          0.000000
REGISTRATIONID              0          0.000000
HASRETURNED                 0          0.000000
PERCENT                     0          0.000000
ORACLEID                    0          0.000000
DOCTYPE                     0          0.000000
LEGALNAME                   0          0.000000
LAWTYPE                     0          0.000000
ENTRYCHANNEL                0          0.000000
FILEDID                     0          0.000000
ACCOUNTOFFICE               0          0.000000

### Join dataframes

In [75]:
df_productos[["TIPO_DE_IDENTIFICACION_DEL_TITULAR"]].dtypes

TIPO_DE_IDENTIFICACION_DEL_TITULAR    object
dtype: object

In [76]:
df_productos[["NRO_DE_IDENTIFICACION_DEL_TITULAR"]].dtypes

NRO_DE_IDENTIFICACION_DEL_TITULAR    object
dtype: object

In [77]:
df_embargos[["DOCTYPE"]].dtypes

DOCTYPE    object
dtype: object

In [78]:
df_embargos[["RESPONDENTID"]].dtypes
df_embargos[["DOCTYPE"]].head(20)

                      DOCTYPE
0                         NIT
1       Cédula de extranjería
2                         NIT
3   ID Extranjero Persona Jur
4                   Pasaporte
5                   Pasaporte
6        Cedula de Ciudadanía
7        Cedula de Ciudadanía
8        Cedula de Ciudadanía
9       Cédula de extranjería
10      Cédula de extranjería
11       TARJETA DE IDENTIDAD
12                        NIT
13                        NIT
14                        NIT
15                        NIT
16      Cédula de extranjería
17                        NIT
18      Cédula de extranjería
19       Cedula de Ciudadanía

In [79]:
def cast_doctype(row):
    if row["DOCTYPE"] == "Cedula de Ciudadanía":
        return "1"
    if row["DOCTYPE"] == "NIT":
        return "2"
    return "3"

In [80]:
df_embargos["DOCTYPE_NUM"] = df_embargos.apply(cast_doctype,axis=1)

In [81]:
df_embargos[["DOCTYPE_NUM", "DOCTYPE"]].head(9)

  DOCTYPE_NUM                    DOCTYPE
0           2                        NIT
1           3      Cédula de extranjería
2           2                        NIT
3           3  ID Extranjero Persona Jur
4           3                  Pasaporte
5           3                  Pasaporte
6           1       Cedula de Ciudadanía
7           1       Cedula de Ciudadanía
8           1       Cedula de Ciudadanía

### DESTINO PRODUCTOS EMBARGADOS

In [84]:
df_embargos = ps.sqldf(
    '''
    SELECT * 
    FROM df_productos
    INNER JOIN df_embargos
    ON df_productos.TIPO_IDENTIFICACION_TITULAR = df_embargos.DOCTYPE_NUM
    AND df_productos.NRO_DE_IDENTIFICACION_DEL_TITULAR = df_embargos.RESPONDENTID
    '''
, locals())
df_embargos.shape

(144, 121)

In [85]:
df_embargos.columns

Index(['NUMERO_DE_RASTREO', 'TIPO_DE_IDENTIFICACION_DEL_TITULAR',
       'NRO_DE_IDENTIFICACION_DEL_TITULAR',
       'INDICADOR_DE_SOLO_TITULAR_PRINCIPAL',
       'INDICADOR_DE_OMITIR_CUENTAS_CANCELADAS', 'OFICINA_DUENA_DE_LA_CUENTA',
       'CUENTA_PERMITE_DEBITOS_SOBREGIRO', 'CUENTA_PERMITE_CREDITOS_SOBREGIRO',
       'MARCAS_DE_LAS_CUENTAS_1', 'FILLER_PARA_USO_FUTURO',
       ...
       'RESPONDENTNAME', 'RESPONSABLE', 'RUB', 'SCANUSER', 'SISTEMBANKNAME',
       'SOLUTIONDAYS', 'SPECIALANOTATION', 'SUBSEGMENT', 'VALUE',
       'DOCTYPE_NUM'],
      dtype='object', length=121)

In [87]:
def cast_doctype_num_to_name(row):
    if row["DOCTYPE_NUM"] == "1" :
        return "Cedula de Ciudadanía"
    if row["DOCTYPE"] == "2":
        return "NIT"
    return "Otros"

In [89]:
df_embargos["tipo_documento"] = df_embargos.apply(cast_doctype_num_to_name, axis=1)
df_embargos[["tipo_documento", "DOCTYPE_NUM"]]

           tipo_documento DOCTYPE_NUM
0                   Otros           3
1                   Otros           3
2                   Otros           3
3                   Otros           3
4    Cedula de Ciudadanía           1
..                    ...         ...
139                 Otros           3
140  Cedula de Ciudadanía           1
141  Cedula de Ciudadanía           1
142  Cedula de Ciudadanía           1
143  Cedula de Ciudadanía           1

[144 rows x 2 columns]

In [100]:
df_embargos[["NRO_DE_IDENTIFICACION_DEL_TITULAR"]]
type(df_embargos[["NRO_DE_IDENTIFICACION_DEL_TITULAR"]])
pd.unique(df_embargos["NRO_DE_IDENTIFICACION_DEL_TITULAR"])

array(['5059152464', '190614163051', '59152451', '59152453', '180688381',
       '180688438', '290118100', '4288131489', '89912528', '2117097390',
       '2117097835', '2117097536', '180720302', '180720357', '180720328',
       '180720264', '180720671', '171002111831', '180720252',
       '171002111862', '180720462', '180720514', '180720218', '180720400',
       '180720365', '180717035', '180720570', '180720301', '180720500',
       '180720706', '180720205', '180720603', '180720207', '180720335',
       '180720553', '180720325', '180720575', '180720261', '180720475',
       '180720619', '180720306', '180720391', '180720554', '180720604',
       '180720388', '180720420', '180720314', '180720665', '180720269',
       '180720517', '180720416', '180720680', '180720189', '180717007',
       '36080516', '4071114045', '180717028', '92137605', '180720689',
       '180720440', '180720579', '180720637', '180720190', '180720293',
       '180720437', '180720585', '180720430', '180720383', '1036394483',
       '180720182', '180720285', '201628123', '180526054959',
       '1805260551168', '180526054950', '1805260552179', '1805260547140',
       '180526054984', '180526052973', '180526052997', '180526054842',
       '1805260529100', '1805260550104', '1805260523104', '180526052270',
       '1805260525179', '180526051478', '180526051366', '1805260514111',
       '180526050254', '1805260504111', '1805260506188', '180526050591',
       '1805260533108', '1805260533136', '1805260510152', '18052605336',
       '1805260527162', '1805260536114', '59152459', '219030612',
       '180688603', '1406209950', '180427043217', '180720317',
       '180720414', '180720220', '180720226'], dtype=object)

In [182]:
df_embargos["numero_documento"] = df_embargos["NRO_DE_IDENTIFICACION_DEL_TITULAR"]
df_embargos["FECHA_DE_APERTURA_DE_LA_CUENTA"].head()

0    20210311
1    20210311
2    20210311
3    20210311
4    20170802
Name: FECHA_DE_APERTURA_DE_LA_CUENTA, dtype: object

In [196]:
def format_date(row):
    date = row["FECHA_DE_APERTURA_DE_LA_CUENTA"]
    if len(date) == 8:
        year = date[:4]
        month = date[4:6]
        day = date[6:]
        concatenated_date = f"{year}-{month}-{day}"
        return str(datetime.strptime(concatenated_date, "%Y-%m-%d").date())
    return "2000-02-02"

In [197]:
df_embargos["fecha_apertura"] = df_embargos.apply(format_date, axis=1)

In [133]:
def check_status(row):
    status = str(row["MARCAS_DE_LAS_CUENTAS"])
    if status[21] == "Y":
        return "E"
    if status[22] == "Y":
        return "N"
    if status[23] == "Y":
        return "F o S"
    return "Otros"

In [125]:
df_embargos["MARCAS_DE_LAS_CUENTAS"]

0      NNYNN     NNNNNNNNNYNNNNN              NNN
1      NNYNN     NNNNNNNNNYNNNNN              NNN
2      NNYNN     NNNNNNNNNYNNNNN              NNN
3      NNYNN     NNNNNNNNNYNNNNN              NNN
4      NNYNN     NNNNNNNNNYYNNNN              NNN
                          ...
139    NNYYN     NNNNNNNNNYNNNNN              YNY
140    NNYNN     NNNNNNNNNYYNNNN              NNN
141    NNYNN     NNNNNNNNNYNYNNN              YNY
142    NNYNN     NNNNNNNNNNNNNNN              YNY
143    NNYNN     NNNNNNNNNNNYNNN              YNY
Name: MARCAS_DE_LAS_CUENTAS, Length: 144, dtype: object

In [135]:
df_embargos["estado"] = df_embargos.apply(check_status,axis=1)

In [136]:
df_embargos["estado"].head(30)

0     Otros
1     Otros
2     Otros
3     Otros
4     Otros
5     Otros
6     Otros
7     Otros
8     Otros
9     Otros
10    Otros
11    Otros
12    Otros
13    Otros
14    Otros
15    Otros
16    Otros
17    Otros
18    Otros
19        E
20        E
21        E
22    Otros
23        E
24    Otros
25    Otros
26    Otros
27        E
28    Otros
29    Otros
Name: estado, dtype: object

In [138]:
def check_plan(row):
    status = str(row["MARCAS_DE_LAS_CUENTAS"])
    if status[10] == "Y":
        return "Ahorro a la mano"
    if status[11] == "Y":
        return "AFC"
    if status[12] == "Y":
        return "Empleado"
    if status[13] == "Y":
        return "Nomina"
    return "Otros"

In [200]:
df_embargos["plan"] = df_embargos.apply(check_plan,axis=1)

In [222]:
def format_saldo_disponible(row):
    if len(row["SALDO_EFECTIVO_DE_LA_CUENTA"]) == 20:
        left = str(int(str(row["SALDO_EFECTIVO_DE_LA_CUENTA"])[:16]))
        right = (str(row["SALDO_EFECTIVO_DE_LA_CUENTA"])[-4:])[:2]
        return f"{left}.{right}"

In [225]:
df_embargos["saldo_disponible_tmp"] = df_embargos.apply(format_saldo_disponible, axis=1)
df_embargos["saldo_disponible_tmp"]

0.00
0.00
0.00
0.00
0.00
0.00
0.00
0.00
4075.85
4075.85
4075.85
4075.85
1131705.89
1131705.89
1947296.99
1947296.99
24626790.19
67963.89
67963.89
7628.56
0.20
0.20
0.00
0.00
4074.96
0.00
0.00
8851.64
81461619.92
45948.40
1219.87
9623845.14
40421.31
40421.31
9916.17
490385.39
490385.39
14328.25
3191.20
2955.91
28224.04
81378.40
11636.15
2045.94
6711.21
0.00
2279.79
0.07
3873.61
53093.53
3674143.54
0.05
1533.67
14403.23
0.00
362012.98
1155.92
0.01
0.00
15453.42
0.00
0.00
10492.58
1035008.52
0.01
12950.16
1589084.22
48536.22
189330501.10
7934659.55
5358836.03
24553769.71
4304340.66
1722126.28
55645.64
139544.58
0.00
9788742.62
8042031.42
650.43
19024.04
219946.43
9208.71
14354.18
4439152.89
8146340.35
8146340.35
0.01
0.01
13294.03
13294.03
5269168.68
5269168.68
9301.64
16018.91
1370663.09
2164111.30
0.00
0.00
295778.84
3892034.21
0.00
253401.49
0.00
7040.00
194325.61
15154174.82
0.00
16101085.45
0.00
18120503.80
548358.44
9788742.62
7290182.06
2129122.92
0.00
132090.88
2951197.75
0.01
0.00
0.96
0.96
24.58
24.58
0.96
0.96
0.96
0.96
758671215.30
758671215.30
126318016.00
126318016.00
15429228219.54
24.58
24.58
72109404.27
72109404.27
41048454457.21
41048454457.21
138478908.37
0.00
15714.03
937.92
6843.55

0              0.00
1              0.00
2              0.00
3              0.00
4              0.00
           ...
139    138478908.37
140            0.00
141        15714.03
142          937.92
143         6843.55
Name: saldo_disponible_tmp, Length: 144, dtype: object

In [226]:
df_embargos["saldo_disponible"] = df_embargos["SIGNO_DEL_SALDO_EFECTIVO_DE_LA_CUENTA"] + df_embargos["saldo_disponible_tmp"]

In [227]:
df_embargos[["SIGNO_DEL_SALDO_EFECTIVO_DE_LA_CUENTA", "SALDO_EFECTIVO_DE_LA_CUENTA", "saldo_disponible"]]

,SIGNO_DEL_SALDO_EFECTIVO_DE_LA_CUENTA,SALDO_EFECTIVO_DE_LA_CUENTA,saldo_disponible
0,+,00000000000000000000,+0.00
1,+,00000000000000000000,+0.00
2,+,00000000000000000000,+0.00
3,+,00000000000000000000,+0.00
4,+,00000000000000000000,+0.00
...,...,...,...
139,+,00000001384789083700,+138478908.37
140,+,00000000000000000000,+0.00
141,+,00000000000157140300,+15714.03
142,+,00000000000009379200,+937.92
143,+,00000000000068435500,+6843.55

In [143]:
def check_plan(row):
    status = str(row["MARCAS_DE_LAS_CUENTAS"])
    if status[3] and status[14] == "N":
        return "SI"
    return "NO"

In [144]:
df_embargos["cuenta_inembargable"] = df_embargos.apply(check_plan, axis=1)

In [147]:
df_embargos["nombre_completo"] = df_embargos["NOMBRE_TITULAR_CUENTA"].apply(lambda x: x.upper())

In [152]:
df_embargos["nombre_corto"] = df_embargos["NOMBRE_TITULAR_CUENTA"].apply(lambda x: x.split(" ")[0])

In [158]:
# df_embargos["oficina_duena"] = df_embargos["OFICINA_DUENA_DE_LA_CUENTA"].apply(lambda x: x.upper())

In [159]:
def check_marcacion_cuenta_exenta_gmf(row):
    status = str(row["MARCAS_DE_LAS_CUENTAS"])
    if status[19] == "N" or status[19] == "T":
        return "T"
    return "N"

In [160]:
df_embargos["marcacion_cuenta_exenta_gmf"] = df_embargos.apply(check_marcacion_cuenta_exenta_gmf, axis=1)

In [162]:
df_embargos["cuenta_embargada"] = "SI"

In [228]:
df_embargos[["cuenta_embargada"]].shape

(144, 1)

In [229]:
%pip install mysql-connector

DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
Requirement already satisfied: mysql-connector in /opt/homebrew/lib/python3.9/site-packages (2.2.9)
DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
WARNING: There was an error checking the latest version of pip.
Note: you may need to restart the kernel to use updated packages.

In [230]:
import mysql.connector

db = mysql.connector.connect(
    host="localhost",
    user="root",
    password="123456",
    database="embargos"
)

In [231]:
cr = db.cursor(buffered=True)

In [234]:
cr.execute('''
    CREATE TABLE IF NOT EXISTS embargos  (
    tipo_documento varchar(20),
    numero_documento varchar(20) NOT NULL,
    fecha_apertura varchar(12),
    estado varchar(5),
    plan varchar(5),
    saldo_disponible varchar(30),
    cuenta_inembargable varchar(30),
    nombre_completo varchar(100),
    nombre_corto varchar(20),
    oficina_duena varchar(30),
    marcacion_cuenta_exenta_gmf varchar(30),
    cuenta_embargada varchar(30)
    )
''')

In [244]:
df_embargos = df_embargos.reset_index()

In [247]:
for index, row in df_embargos.iterrows():
    print(row["nombre_completo"])
    query = '''
     INSERT INTO embargos(
        tipo_documento,
        numero_documento,
        fecha_apertura,
        estado,
        plan,
        saldo_disponible,
        cuenta_inembargable,
        nombre_completo,
        nombre_corto,
        # oficina_duena,
        marcacion_cuenta_exenta_gmf,
        cuenta_embargada
     ) VALUES(
        %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s
     )
    '''
    cr.execute(query, (
        row["tipo_documento"],
        row["numero_documento"],
        row["fecha_apertura"],
        row["estado"],
        row["plan"],
        row["saldo_disponible"],
        row["cuenta_inembargable"],
        row["nombre_completo"],
        row["nombre_corto"],
        # row["oficina_duena"],
        row["marcacion_cuenta_exenta_gmf"],
        row["cuenta_embargada"],
    ))
    db.commit()

PATRIMONIOS AUTONOMOS FIDUCIARIA CORFIPERUNA
PATRIMONIOS AUTONOMOS FIDUCIARIA CORFIPERUNA
PATRIMONIOS AUTONOMOS FIDUCIARIA CORFIPERUNA
PATRIMONIOS AUTONOMOS FIDUCIARIA CORFIPERUNA
ROMELIA ESCUDEROS ARDILA
ROMELIA ESCUDEROS ARDILA
ROMELIA ESCUDEROS ARDILA
ROMELIA ESCUDEROS ARDILA
CARLOS FERNANDO MELENDEZ BARRERA
CARLOS FERNANDO MELENDEZ BARRERA
CARLOS FERNANDO MELENDEZ BARRERA
CARLOS FERNANDO MELENDEZ BARRERA
PATRIMONIOS AUTONOMOS FIDUCIARIA CORFIPERUNA
PATRIMONIOS AUTONOMOS FIDUCIARIA CORFIPERUNA
PATRIMONIOS AUTONOMOS FIDUCIARIA CORFIPERUNA
PATRIMONIOS AUTONOMOS FIDUCIARIA CORFIPERUNA
PATRIMONIOS AUTONOMOS FIDUCIARIA CORFIPERUNA
PATRIMONIOS AUTONOMOS FIDUCIARIA CORFIPERUNA
PATRIMONIOS AUTONOMOS FIDUCIARIA CORFIPERUNA
JOSE RAFAEL PIÑEREZ BARRIOS
MYRIAN CONSUELO MATEUS BLANCO
MYRIAN CONSUELO MATEUS BLANCO
JUAN FERNANDO LAZARO GALEANO
MYRIAN CONSUELO MATEUS BLANCO
MAGNOLIA DEL SOCORRO SALDARRIAGA MEJIA
YADIRA PIMIENTA REDONDO
YADIRA PIMIENTA REDONDO
FABIOLA VALENCIA DE LONDOÑO
NEIRO PEDROZO VILLALOBOS
GONZALO ANDRES CARREÑO GONZALEZ
GUSTAVO ELIECER MARMOL PABUENA
ROSARIO CARMELA GALINDO FLOREZ
PATRIMONIOS AUTONOMOS FIDUCIARIA CORFIPERUNA
PATRIMONIOS AUTONOMOS FIDUCIARIA CORFIPERUNA
BLANCA NUBIA BADILLO RAMOS
PATRIMONIOS AUTONOMOS FIDUCIARIA CORFIPERUNA
PATRIMONIOS AUTONOMOS FIDUCIARIA CORFIPERUNA
ORLANDO MADRID RICO
BRUNO ANGEL MADRID LOPEZ
PATRIMONIOS AUTONOMOS FIDUCIARIA CORFIPERUNA
LUIS ANTONIO MIER CORENA
JOSE CRISTO SANCHEZ FORERO
IGNACIA BEATRIZ MENDOZA VIUDA DE PAVA
ALFONSO IZA GOMEZ
LUIS ORLANDO GARCIA MEZA
LUIS ORLANDO GARCIA MEZA
YEIMY LUCERO ROMERO GONZALEZ
CLAUDIA JOHANNA FUENTES ORTIZ
YEIMY LUCERO ROMERO GONZALEZ
PATRIMONIOS AUTONOMOS FIDUCIARIA CORFIPERUNA
JAIRO EFRAIN CERON MARTINEZ
JAIRO EFRAIN CERON MARTINEZ
HECTOR VILLARREAL GOMEZ
WOLFRAN BUSTAMANT BACCA
CARLOS EDUARDO SALCEDO BUSTILLO
HECTOR VILLARREAL GOMEZ
JAIME ANDRES VARGAS BARRERA
LYDA LUCENA CESPEDES MARTINEZ
IVETH PAMELA CAMARGO OROZCO
LYDA LUCENA CESPEDES MARTINEZ
LUZ ELENA CARDENAS BLANDON
YURAINY MILENA ARDILA USMA
XIOMARA MARIA GUTIERREZ ARRIETA
YURAINY MILENA ARDILA USMA
JAIME HERNAN MARTINEZ ALVAREZ
EMIRGEN VASQUEZ ROJAS
EMIRGEN VASQUEZ ROJAS
HERNANDO MORENO MARTINEZ
IGLESIA MISION CARISMATICA INTERNACIONAL M.C.I
JUAN PABLO MACIAS CORREAL
JUAN PABLO MACIAS CORREAL
CLODOMIRO TORRES MURALLAS
JUAN PABLO MACIAS CORREAL
JUAN PABLO MACIAS CORREAL
LUZ ESTHER LOPEZ ZABALA
JUAN PABLO MACIAS CORREAL
LUZ ANDREA RUBIANO GUTIERREZ
SANDRA ELENA PAREDES TORO
JESUS MORALES SAAVEDRA
MIGUEL HERNANDEZ AMARIZ
EMILANIS DEL CARMEN PEREZ DE GARCIA
LEIDY YOHANA SANTANA LOPEZ
JORGE EMIRO GARCIA MONROY
ADOLFO LEON AGUDELO ECHEVERRI
GUSTAVO ADOLFO GUTIERREZ RAMIREZ
IGLESIA MISION CARISMATICA INTERNACIONAL M.C.I
IGLESIA MISION CARISMATICA INTERNACIONAL M.C.I
IBERTUR S.A.S
HELIODORO BUITRAGO SALCEDO
OLGA LUCIA RAMIREZ LEON
OLGA LUCIA RAMIREZ LEON
SILVIA MATILDE ARTOLA DE ARIZA
SILVIA MATILDE ARTOLA DE ARIZA
UNIDAD ADMIN ESPECIAL DE AERONAUTICA CIVIL
IGLESIA MISION CARISMATICA INTERNACIONAL M.C.I
PATRIMONIOS AUTONOMOS FIDUCIARIA CORFIPERUNA
IGLESIA MISION CARISMATICA INTERNACIONAL M.C.I
UNIDAD ADMIN ESPECIAL DE AERONAUTICA CIVIL
UNIDAD ADMIN ESPECIAL DE AERONAUTICA CIVIL
IGLESIA MISION CARISMATICA INTERNACIONAL M.C.I
PATRIMONIOS AUTONOMOS FIDUCIARIA CORFIPERUNA
UNIDAD ADMIN ESPECIAL DE AERONAUTICA CIVIL
IGLESIA MISION CARISMATICA INTERNACIONAL M.C.I
UNIDAD ADMIN ESPECIAL DE AERONAUTICA CIVIL
UNIDAD ADMIN ESPECIAL DE AERONAUTICA CIVIL
IGLESIA MISION CARISMATICA INTERNACIONAL M.C.I
IGLESIA MISION CARISMATICA INTERNACIONAL M.C.I
IGLESIA MISION CARISMATICA INTERNACIONAL M.C.I
IGLESIA MISION CARISMATICA INTERNACIONAL M.C.I
IGLESIA MISION CARISMATICA INTERNACIONAL M.C.I
IGLESIA MISION CARISMATICA INTERNACIONAL M.C.I
IGLESIA MISION CARISMATICA INTERNACIONAL M.C.I
SANDRA ELENA PAREDES TORO
IGLESIA MISION CARISMATICA INTERNACIONAL M.C.I
IGLESIA MISION CARISMATICA INTERNACIONAL M.C.I
JUAN CARLOS ARBELAEZ LARA
FUND PARA EL DESARR DE LA SILVICULTURA LA AGROFORESTACION Y
VARIADORES Y CONTROLES S.A.S.
INGENIERIA DE DISENO Y CONSTRUCCION LTDA INDICON L
PERUNA DE MECANIZADOS COLMECAN  SAS
BELLBROOK PERU SAS
BELLBROOK PERU SAS
BELLBROOK PERU SAS
BELLBROOK PERU SAS
BELLBROOK PERU SAS
BELLBROOK PERU SAS
BELLBROOK PERU SAS
BELLBROOK PERU SAS
ADMINISTRADORA PERUNA DE PENSIONES COLPENSIONE
ADMINISTRADORA PERUNA DE PENSIONES COLPENSIONE
ADMINISTRADORA PERUNA DE PENSIONES COLPENSIONE
ADMINISTRADORA PERUNA DE PENSIONES COLPENSIONE
ADMINISTRADORA PERUNA DE PENSIONES COLPENSIONE
BELLBROOK PERU SAS
BELLBROOK PERU SAS
ADMINISTRADORA PERUNA DE PENSIONES COLPENSIONE
ADMINISTRADORA PERUNA DE PENSIONES COLPENSIONE
ADMINISTRADORA PERUNA DE PENSIONES COLPENSIONE
ADMINISTRADORA PERUNA DE PENSIONES COLPENSIONE
ADMINISTRADORA PERUNA DE PENSIONES COLPENSIONE
JAIRO RICO TRIVIÑO
JUAN DAVID ALZATE SIERRA
ISMAEL ANTONIO ESQUIVEL PASTRANA
JULIO EDUARDO VARGAS REYES

Create tables