In [1]:
import pandas as pd
from IPython.display import display

In [2]:
column_names = ["NUMERO_DE_RASTREO", "TIPO_DE_IDENTIFICACION_DEL_TITULAR", "NRO_DE_IDENTIFICACION_DEL_TITULAR", "INDICADOR_DE_SOLO_TITULAR_PRINCIPAL", "INDICADOR_DE_OMITIR_CUENTAS_CANCELADAS",
"OFICINA_DUENA_DE_LA_CUENTA", "CUENTA_PERMITE_DEBITOS_SOBREGIRO", "CUENTA_PERMITE_CREDITOS_SOBREGIRO", "MARCAS_DE_LAS_CUENTAS", "FILLER_PARA_USO_FUTURO", "CODIGO_DE_RESPUESTA","DESCRIPCION_DE_RESPUESTA",
"CONSECUTIVO_DE_CUENTAS_CONSULTADAS_POR_CLIENTE","TIPO_DE_CUENTA_A_CONSULTAR", "NUMERO_DE_CUENTA","CODIGO_DE_LA_OFICINA_DUENA_DE_LA_CUENTA", "CUENTA_PERMITE_DEBITOS", "CUENTA_PERMITE_CREDITOS", "MONEDA", 
"FECHA_DE_APERTURA_DE_LA_CUENTA", "NUMERO_DE_DIAS_DE_INACTIVIDAD_DE_LA_CUENTA", "INDICADOR_DE_CUENTA_CANCELADA", "FECHA_DE_CIERRE_DE_LA_CUENTA","NUMERO_DE_COTITULARES", "TIPO_IDENTIFICACION_TITULAR", "NRO_DE_IDENTIFICACION_TITULAR",
"NOMBRE_TITULAR_CUENTA", "RELACION_ENTRE_CLIENTE_Y_CUENTA", "REGIMEN_CUENTA_MAESTRA", "CODIGO_DE_SERVICIO","PLAZO_SOBREGIRO", "DIAS_SOBREGIRO",
"DIAS_EN_MORA_SOBREGIRO", "CLASIFICACION_CARTERA_PARA_CTAS_CORRIENTES", "SIGNO_DEL_CUPO_DE_SOBREGIRO", "VALOR_DEL_CUPO_DE_SOBREGIRO", "SIGNO_DEL_SALDO_EFECTIVO_DE_LA_CUENTA",
"SALDO_EFECTIVO_DE_LA_CUENTA", "SIGNO_DEL_SALDO_EN_CANJE_DE_LA_CUENTA", "SALDO_EN_CANJE_DE_LA_CUENTA",
"SIGNO_DEL_SALDO_DISPONIBLE_DE_LA_CUENTA", "SALDO_DISPONIBLE_DE_LA_CUENTA", "SIGNO_DEL_SALDO_DISPONIBLE_SIN_SOBREGIRO", "SALDO_DISPONIBLE_SIN_SOBREGIRO", "SIGNO_DEL_SALDO_EN_CUENTA_POR_COBRAR",
"SALDO_EN_CUENTA_POR_COBRAR", "SIGNO_DEL_SALDO_BLOQUEADO", "SALDO_BLOQUEADO", "SIGNO_DE_SALDO_EN_BOLSILLOS", "SALDO_EN_BOLSILLOS", "SIGNO_DEL_SALDO_EN_CANJE_AL_INICIO_DEL_DIA", "SALDO_EN_CANJE_AL_INICIO_DEL_DIA",
"SIGNO_DEL_SALDO_EFECTIVO_AL_INICIO_DEL_DIA", "SALDO_EFECTIVO_AL_INICIO_DEL_DIA", "SIGNO_DEL_SALDO_DE_DISPONIBLE_DEL_CUPO_DE_SOBREGIRO", "SALDO_DE_DISPONIBLE_DEL_CUPO_DE_SOBREGIRO",
"SIGNO_INTERES_NORMALES", "INTERES_NORMALES", " SIGNO_INTERES_EN_SUSPENSION", "INTERES_EN_SUSPENSION", "SIGNO_CUPO_DE_REMESAS", "CUPO_DE_REMESAS", "SIGNO_CUPO_REMESA_NEGOCIADA", "CUPO_REMESA_NEGOCIADA",
"SIGNO_UTILIZACION_REMESAS", "UTILIZACION_REMESAS", "UTILIZACION_DE_REMESAS", "PARA_USO_FUTURO_INFO_DE_LA_CUENTA", "CAPTACION"
]

print(len(column_names))

types = {}

for value in column_names:
    types[value] = str

df_productos_legales = pd.read_csv("data/input/ProductosLegales", sep="|", header=None, names=column_names, index_col=False, dtype=types)
display(df_productos_legales)

69

,NUMERO_DE_RASTREO,TIPO_DE_IDENTIFICACION_DEL_TITULAR,NRO_DE_IDENTIFICACION_DEL_TITULAR,INDICADOR_DE_SOLO_TITULAR_PRINCIPAL,INDICADOR_DE_OMITIR_CUENTAS_CANCELADAS,OFICINA_DUENA_DE_LA_CUENTA,CUENTA_PERMITE_DEBITOS_SOBREGIRO,CUENTA_PERMITE_CREDITOS_SOBREGIRO,MARCAS_DE_LAS_CUENTAS,FILLER_PARA_USO_FUTURO,...,INTERES_EN_SUSPENSION,SIGNO_CUPO_DE_REMESAS,CUPO_DE_REMESAS,SIGNO_CUPO_REMESA_NEGOCIADA,CUPO_REMESA_NEGOCIADA,SIGNO_UTILIZACION_REMESAS,UTILIZACION_REMESAS,UTILIZACION_DE_REMESAS,PARA_USO_FUTURO_INFO_DE_LA_CUENTA,CAPTACION
0,000000000001,1,000000068287066,T,Y,NaN,NaN,NaN,NaN,NaN,...,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000
1,000000000021,1,000000008699669,T,Y,NaN,NaN,NaN,NaN,NaN,...,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000
2,000000000002,1,000001090407176,T,Y,NaN,NaN,NaN,NaN,NaN,...,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000
3,000000000040,1,000000080431468,T,Y,NaN,NaN,NaN,NaN,NaN,...,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000
4,000000000023,1,000000075070484,T,Y,NaN,NaN,NaN,NaN,NaN,...,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33277,000000009025,1,000000045526350,T,Y,NaN,NaN,NaN,NaN,NaN,...,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000
33278,000000009029,1,000000045485857,T,Y,NaN,NaN,NaN,NaN,NaN,...,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000
33279,000000009030,1,000001143353738,T,Y,NaN,NaN,NaN,NaN,NaN,...,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000
33280,000000009030,1,000001143353738,T,Y,NaN,NaN,NaN,NaN,NaN,...,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000
33281,000000009030,1,000001143353738,T,Y,NaN,NaN,NaN,NaN,NaN,...,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000

In [3]:
df_productos_legales.describe()

,NUMERO_DE_RASTREO,TIPO_DE_IDENTIFICACION_DEL_TITULAR,NRO_DE_IDENTIFICACION_DEL_TITULAR,INDICADOR_DE_SOLO_TITULAR_PRINCIPAL,INDICADOR_DE_OMITIR_CUENTAS_CANCELADAS,OFICINA_DUENA_DE_LA_CUENTA,CUENTA_PERMITE_DEBITOS_SOBREGIRO,CUENTA_PERMITE_CREDITOS_SOBREGIRO,MARCAS_DE_LAS_CUENTAS,FILLER_PARA_USO_FUTURO,...,INTERES_EN_SUSPENSION,SIGNO_CUPO_DE_REMESAS,CUPO_DE_REMESAS,SIGNO_CUPO_REMESA_NEGOCIADA,CUPO_REMESA_NEGOCIADA,SIGNO_UTILIZACION_REMESAS,UTILIZACION_REMESAS,UTILIZACION_DE_REMESAS,PARA_USO_FUTURO_INFO_DE_LA_CUENTA,CAPTACION
count,33282,33282,33282,33282,33282,0,0,0,0,0,...,33282,33282,33282,33282,33282,33282,33282,33282,33282,33282
unique,7879,2,6240,1,1,0,0,0,0,0,...,1,81,1,43,1,12,1,9,1,2
top,000000008376,3,000000890903938,T,Y,NaN,NaN,NaN,NaN,NaN,...,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000
freq,921,24729,22104,33282,33282,NaN,NaN,NaN,NaN,NaN,...,33282,33151,33282,33218,33282,33232,33282,33263,33282,33280

In [4]:
df_productos_legales.shape

(33282, 69)

In [5]:
total_null = df_productos_legales.isnull().sum().sort_values(ascending = False) # Total de nulos
percent_null = (df_productos_legales.isnull().sum()/df_productos_legales.isnull().count()).sort_values(ascending = False) #porcentaje de nulos
missing_data = pd.concat([total_null,percent_null],axis = 1,keys=['total_null','percent_null'])
missing_data

                                            total_null  percent_null
OFICINA_DUENA_DE_LA_CUENTA                       33282           1.0
CUENTA_PERMITE_DEBITOS_SOBREGIRO                 33282           1.0
CUENTA_PERMITE_CREDITOS_SOBREGIRO                33282           1.0
MARCAS_DE_LAS_CUENTAS                            33282           1.0
FILLER_PARA_USO_FUTURO                           33282           1.0
...                                                ...           ...
DIAS_EN_MORA_SOBREGIRO                               0           0.0
CLASIFICACION_CARTERA_PARA_CTAS_CORRIENTES           0           0.0
TIPO_DE_IDENTIFICACION_DEL_TITULAR                   0           0.0
VALOR_DEL_CUPO_DE_SOBREGIRO                          0           0.0
CAPTACION                                            0           0.0

[69 rows x 2 columns]

In [6]:
df_productos_legales.dtypes

NUMERO_DE_RASTREO                         object
TIPO_DE_IDENTIFICACION_DEL_TITULAR        object
NRO_DE_IDENTIFICACION_DEL_TITULAR         object
INDICADOR_DE_SOLO_TITULAR_PRINCIPAL       object
INDICADOR_DE_OMITIR_CUENTAS_CANCELADAS    object
                                           ...
SIGNO_UTILIZACION_REMESAS                 object
UTILIZACION_REMESAS                       object
UTILIZACION_DE_REMESAS                    object
PARA_USO_FUTURO_INFO_DE_LA_CUENTA         object
CAPTACION                                 object
Length: 69, dtype: object

In [7]:
df_productos_virtuales = pd.read_csv("data/input/ProductosVirtuales", sep="|", header=None, names=column_names, dtype=types)
df_productos_virtuales.head()

,NUMERO_DE_RASTREO,TIPO_DE_IDENTIFICACION_DEL_TITULAR,NRO_DE_IDENTIFICACION_DEL_TITULAR,INDICADOR_DE_SOLO_TITULAR_PRINCIPAL,INDICADOR_DE_OMITIR_CUENTAS_CANCELADAS,OFICINA_DUENA_DE_LA_CUENTA,CUENTA_PERMITE_DEBITOS_SOBREGIRO,CUENTA_PERMITE_CREDITOS_SOBREGIRO,MARCAS_DE_LAS_CUENTAS,FILLER_PARA_USO_FUTURO,...,INTERES_EN_SUSPENSION,SIGNO_CUPO_DE_REMESAS,CUPO_DE_REMESAS,SIGNO_CUPO_REMESA_NEGOCIADA,CUPO_REMESA_NEGOCIADA,SIGNO_UTILIZACION_REMESAS,UTILIZACION_REMESAS,UTILIZACION_DE_REMESAS,PARA_USO_FUTURO_INFO_DE_LA_CUENTA,CAPTACION
0,000000000001,3,890900250,T,Y,NaN,NaN,NaN,NaN,NaN,...,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000
1,000000000307,2,59152459,T,Y,NaN,NaN,NaN,NaN,NaN,...,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000
2,000000000307,3,19091109214037,T,Y,NaN,NaN,NaN,NaN,NaN,...,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000
3,000000000205,7,219030612,T,Y,NaN,NaN,NaN,NaN,NaN,...,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000
4,000000000069,5,5059152464,T,Y,NaN,NaN,NaN,NaN,NaN,...,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000

In [8]:
total_null = df_productos_virtuales.isnull().sum().sort_values(ascending = False) # Total de nulos
percent_null = (df_productos_virtuales.isnull().sum()/df_productos_virtuales.isnull().count()).sort_values(ascending = False) #porcentaje de nulos
missing_data = pd.concat([total_null,percent_null],axis = 1,keys=['total_null','percent_null'])
missing_data

                                            total_null  percent_null
OFICINA_DUENA_DE_LA_CUENTA                         928           1.0
CUENTA_PERMITE_DEBITOS_SOBREGIRO                   928           1.0
CUENTA_PERMITE_CREDITOS_SOBREGIRO                  928           1.0
MARCAS_DE_LAS_CUENTAS                              928           1.0
FILLER_PARA_USO_FUTURO                             928           1.0
...                                                ...           ...
DIAS_EN_MORA_SOBREGIRO                               0           0.0
CLASIFICACION_CARTERA_PARA_CTAS_CORRIENTES           0           0.0
TIPO_DE_IDENTIFICACION_DEL_TITULAR                   0           0.0
VALOR_DEL_CUPO_DE_SOBREGIRO                          0           0.0
CAPTACION                                            0           0.0

[69 rows x 2 columns]

In [9]:
df_productos_virtuales.dtypes

NUMERO_DE_RASTREO                         object
TIPO_DE_IDENTIFICACION_DEL_TITULAR        object
NRO_DE_IDENTIFICACION_DEL_TITULAR         object
INDICADOR_DE_SOLO_TITULAR_PRINCIPAL       object
INDICADOR_DE_OMITIR_CUENTAS_CANCELADAS    object
                                           ...
SIGNO_UTILIZACION_REMESAS                 object
UTILIZACION_REMESAS                       object
UTILIZACION_DE_REMESAS                    object
PARA_USO_FUTURO_INFO_DE_LA_CUENTA         object
CAPTACION                                 object
Length: 69, dtype: object

In [10]:
df_productos_legales.describe()

,NUMERO_DE_RASTREO,TIPO_DE_IDENTIFICACION_DEL_TITULAR,NRO_DE_IDENTIFICACION_DEL_TITULAR,INDICADOR_DE_SOLO_TITULAR_PRINCIPAL,INDICADOR_DE_OMITIR_CUENTAS_CANCELADAS,OFICINA_DUENA_DE_LA_CUENTA,CUENTA_PERMITE_DEBITOS_SOBREGIRO,CUENTA_PERMITE_CREDITOS_SOBREGIRO,MARCAS_DE_LAS_CUENTAS,FILLER_PARA_USO_FUTURO,...,INTERES_EN_SUSPENSION,SIGNO_CUPO_DE_REMESAS,CUPO_DE_REMESAS,SIGNO_CUPO_REMESA_NEGOCIADA,CUPO_REMESA_NEGOCIADA,SIGNO_UTILIZACION_REMESAS,UTILIZACION_REMESAS,UTILIZACION_DE_REMESAS,PARA_USO_FUTURO_INFO_DE_LA_CUENTA,CAPTACION
count,33282,33282,33282,33282,33282,0,0,0,0,0,...,33282,33282,33282,33282,33282,33282,33282,33282,33282,33282
unique,7879,2,6240,1,1,0,0,0,0,0,...,1,81,1,43,1,12,1,9,1,2
top,000000008376,3,000000890903938,T,Y,NaN,NaN,NaN,NaN,NaN,...,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000
freq,921,24729,22104,33282,33282,NaN,NaN,NaN,NaN,NaN,...,33282,33151,33282,33218,33282,33232,33282,33263,33282,33280

In [11]:
df_productos = df_productos_legales.append(df_productos_virtuales)

/var/folders/sc/_jqd0m8s5f9gqbgm5k_1twjc0000gn/T/ipykernel_78686/4251618290.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_productos = df_productos_legales.append(df_productos_virtuales)

In [12]:
df_productos.shape

(34210, 69)

In [13]:
df_productos.sort_values(by=['NRO_DE_IDENTIFICACION_DEL_TITULAR'])

,NUMERO_DE_RASTREO,TIPO_DE_IDENTIFICACION_DEL_TITULAR,NRO_DE_IDENTIFICACION_DEL_TITULAR,INDICADOR_DE_SOLO_TITULAR_PRINCIPAL,INDICADOR_DE_OMITIR_CUENTAS_CANCELADAS,OFICINA_DUENA_DE_LA_CUENTA,CUENTA_PERMITE_DEBITOS_SOBREGIRO,CUENTA_PERMITE_CREDITOS_SOBREGIRO,MARCAS_DE_LAS_CUENTAS,FILLER_PARA_USO_FUTURO,...,INTERES_EN_SUSPENSION,SIGNO_CUPO_DE_REMESAS,CUPO_DE_REMESAS,SIGNO_CUPO_REMESA_NEGOCIADA,CUPO_REMESA_NEGOCIADA,SIGNO_UTILIZACION_REMESAS,UTILIZACION_REMESAS,UTILIZACION_DE_REMESAS,PARA_USO_FUTURO_INFO_DE_LA_CUENTA,CAPTACION
856,000000000218,1,000000000119525,T,Y,NaN,NaN,NaN,NaN,NaN,...,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000
857,000000000218,1,000000000119525,T,Y,NaN,NaN,NaN,NaN,NaN,...,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000
12114,000000013973,1,000000000281485,T,Y,NaN,NaN,NaN,NaN,NaN,...,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000
13899,000000012040,1,000000000379510,T,Y,NaN,NaN,NaN,NaN,NaN,...,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000
22047,000000013266,1,000000000379510,T,Y,NaN,NaN,NaN,NaN,NaN,...,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,000000000001,3,890900250,T,Y,NaN,NaN,NaN,NaN,NaN,...,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000
870,000000000009,3,890900250,T,Y,NaN,NaN,NaN,NaN,NaN,...,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000
33,000000000006,1,89912528,T,Y,NaN,NaN,NaN,NaN,NaN,...,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000
903,000000000020,1,89912528,T,Y,NaN,NaN,NaN,NaN,NaN,...,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000
216,000000000158,1,92137605,T,Y,NaN,NaN,NaN,NaN,NaN,...,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000

In [55]:
df_embargos = pd.read_csv("data/input/embargos.csv", sep=",", header=0, index_col = False, dtype=str)

In [56]:
display(df_embargos)

,ACCOUNTOFFICE,ALLOCATIONDATE,APPLICATIONDATE,BANKCODE,BANKNAME,CASEREFERENCE,CHECKCD,CHEKMASIVO,CITY,CLAIMANTENTITY,...,RESPONDENTID,RESPONDENTNAME,RESPONSABLE,RUB,SCANUSER,SISTEMBANKNAME,SOLUTIONDAYS,SPECIALANOTATION,SUBSEGMENT,VALUE
0,918,NaN,NaN,40,Banco Todos,B1A02109A2BA11EB815800155D321E71,NO,NO,BARRANCA,Juzgado,...,890900250,TRILLOS USME AMPARO ESTHER,Deisy Paola Aguirre Vasquez,RL00119571,NaN,NaN,3,NaN,NaN,385400
1,918,NaN,NaN,40,Banco Todos,B1A02109A2BA11EB815800155D321E71,NO,NO,BARRANCA,Juzgado,...,59152459,PEDRO VICENTE REYES PEREZ,Deisy Paola Aguirre Vasquez,RL00119571,NaN,NaN,3,NaN,NaN,152736600
2,918,NaN,NaN,40,Banco Todos,B1A02109A2BA11EB815800155D321E71,NO,NO,BARRANCA,Juzgado,...,19091109214037,HENAO ESPITIA JHON FREDY 591,Deisy Paola Aguirre Vasquez,RL00119571,NaN,NaN,3,NaN,NaN,563300
3,918,NaN,NaN,40,Banco Todos,B1A02109A2BA11EB815800155D321E71,NO,NO,BARRANCA,Juzgado,...,219030612,HERNANDEZ LAVERDE FABIO,Deisy Paola Aguirre Vasquez,RL00119571,NaN,NaN,3,NaN,NaN,19765900
4,918,NaN,NaN,40,Banco Todos,B1A02109A2BA11EB815800155D321E71,NO,NO,BARRANCA,Juzgado,...,5059152464,RIERES BARRIOS JOSE RAFAEL,Deisy Paola Aguirre Vasquez,RL00119571,NaN,NaN,3,NaN,NaN,23281000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
860,918,NaN,NaN,40,NaN,CDA0A00366E511EB814D00155D484328,NO,NO,BUCARAMANGA,NaN,...,13871433,LUIS ALEJANDRO FERREIRA RUIZ,Olga Cecilia Quiroz Escobar,RL00085831,NaN,NaN,3,NaN,PERSONAS NATURALES,50000000
861,918,NaN,NaN,40,Banco Agrario,8C13075F66EC11EB814D00155D484328,NO,NO,IPIALES,Juzgado,...,13007905,CARLOS AGUSTIN JARAMILLO MESIAS,Luis Fernando Posada Rios,RL00085893,NaN,NaN,3,NaN,COMERCIO,36000000
862,918,NaN,NaN,40,Banco Agrario,AABD11F366E711EB814D00155D484328,NO,NO,MANI,Juzgado,...,900549488,OCIVILCOMP S A S RL,Luis Fernando Posada Rios,RL00085873,NaN,NaN,3,NaN,SERVICIOS NO FINANCIEROS,153200000
863,918,NaN,NaN,40,Banco Agrario,AABD11F366E711EB814D00155D484328,NO,NO,MANI,Juzgado,...,74811641,ARIEL HERNAN DIAZ RIVERA,Luis Fernando Posada Rios,RL00085873,NaN,NaN,3,NaN,CONSTRUCCION,153200000
864,918,NaN,NaN,40,NaN,BC29419666E511EB815300155D321E71,NO,NO,BUCARAMANGA,NaN,...,91295189,BANCO CAJA SOCIAL SA,Ana Carolina Osorio Osorio,RL00085826,NaN,NaN,3,NaN,NaN,25400000

In [57]:
df_embargos[["RESPONDENTID"]]

       RESPONDENTID
0         890900250
1          59152459
2    19091109214037
3         219030612
4        5059152464
..              ...
860        13871433
861        13007905
862       900549488
863        74811641
864        91295189

[865 rows x 1 columns]

In [58]:
df_embargos.describe()

,ACCOUNTOFFICE,ALLOCATIONDATE,APPLICATIONDATE,BANKCODE,BANKNAME,CASEREFERENCE,CHECKCD,CHEKMASIVO,CITY,CLAIMANTENTITY,...,RESPONDENTID,RESPONDENTNAME,RESPONSABLE,RUB,SCANUSER,SISTEMBANKNAME,SOLUTIONDAYS,SPECIALANOTATION,SUBSEGMENT,VALUE
count,865,0,0,801,654,865,865,865,865,688,...,858,857,861,865,212,0,865,0,347,807
unique,1,0,0,2,5,379,1,2,91,17,...,748,772,23,380,47,0,2,0,9,606
top,918,NaN,NaN,40,Banco Todos,B1A02109A2BA11EB815800155D321E71,NO,NO,BARRANCA,Juzgado,...,5059152464,BELLBROOK COLOMBIA SAS,Deisy Paola Aguirre Vasquez,RL00119571,bacruz,NaN,3,NaN,PERSONAS NATURALES,23580000
freq,865,NaN,NaN,800,345,281,865,850,281,370,...,4,9,281,280,40,NaN,851,NaN,180,13

In [59]:
df_embargos.shape

(865, 51)

In [60]:
df_embargos.dtypes

ACCOUNTOFFICE       object
ALLOCATIONDATE      object
APPLICATIONDATE     object
BANKCODE            object
BANKNAME            object
CASEREFERENCE       object
CHECKCD             object
CHEKMASIVO          object
CITY                object
CLAIMANTENTITY      object
CLAIMANTID          object
CLAIMANTNAME        object
CLIENTSEGMENT       object
CLOSEDOPEN          object
COMPLEJIDAD         object
DOCTYPE             object
EMISSIONDATE        object
EMPLOYEENAME        object
ENTITYPROCESS       object
ENTRYCHANNEL        object
FILEDID             object
FILIALID            object
FUTURE              object
HASRETURNED         object
ISLINKED            object
ISTOWAITFORGUID     object
LAWTYPE             object
LEGALADDRESS        object
LEGALDEPARTMENT     object
LEGALNAME           object
LEGALNUMBER         object
LETTERTYPE          object
MANAGEOBS           object
ORACLEID            object
PAIDACCOUNTNO       object
PERCENT             object
RECEPTIONDATE       object
REGISTRATIONID      object
REQUESTSENDER       object
REQUIREMENTSTATE    object
REQUIREMENTTYPE     object
RESPONDENTID        object
RESPONDENTNAME      object
RESPONSABLE         object
RUB                 object
SCANUSER            object
SISTEMBANKNAME      object
SOLUTIONDAYS        object
SPECIALANOTATION    object
SUBSEGMENT          object
VALUE               object
dtype: object

In [61]:
total_nulos = df_embargos.isnull().sum().sort_values(ascending = False)
porcentaje_nulos = (df_embargos.isnull().sum()/df_embargos.isnull().count()).sort_values(ascending = False)
cuadro_nulos = pd.concat([total_nulos, porcentaje_nulos], axis = 1, keys = ['total_nulos','porcentaje_nulos'])
cuadro_nulos

                  total_nulos  porcentaje_nulos
APPLICATIONDATE           865          1.000000
ALLOCATIONDATE            865          1.000000
MANAGEOBS                 865          1.000000
CLIENTSEGMENT             865          1.000000
SPECIALANOTATION          865          1.000000
SISTEMBANKNAME            865          1.000000
SCANUSER                  653          0.754913
CLAIMANTID                529          0.611561
ISTOWAITFORGUID           520          0.601156
SUBSEGMENT                518          0.598844
ISLINKED                  347          0.401156
LEGALNUMBER               301          0.347977
PAIDACCOUNTNO             211          0.243931
BANKNAME                  211          0.243931
CLAIMANTENTITY            177          0.204624
FILIALID                  177          0.204624
CLAIMANTNAME              177          0.204624
CLOSEDOPEN                177          0.204624
EMISSIONDATE              177          0.204624
BANKCODE                   64          0.073988
LEGALADDRESS               62          0.071676
VALUE                      58          0.067052
EMPLOYEENAME               43          0.049711
ENTITYPROCESS              14          0.016185
LETTERTYPE                 14          0.016185
RESPONDENTNAME              8          0.009249
RESPONDENTID                7          0.008092
RESPONSABLE                 4          0.004624
LEGALDEPARTMENT             2          0.002312
COMPLEJIDAD                 1          0.001156
CITY                        0          0.000000
RUB                         0          0.000000
FUTURE                      0          0.000000
REQUIREMENTSTATE            0          0.000000
CHEKMASIVO                  0          0.000000
SOLUTIONDAYS                0          0.000000
CHECKCD                     0          0.000000
CASEREFERENCE               0          0.000000
REQUIREMENTTYPE             0          0.000000
RECEPTIONDATE               0          0.000000
REQUESTSENDER               0          0.000000
REGISTRATIONID              0          0.000000
HASRETURNED                 0          0.000000
PERCENT                     0          0.000000
ORACLEID                    0          0.000000
DOCTYPE                     0          0.000000
LEGALNAME                   0          0.000000
LAWTYPE                     0          0.000000
ENTRYCHANNEL                0          0.000000
FILEDID                     0          0.000000
ACCOUNTOFFICE               0          0.000000

### Join dataframes

In [62]:
df_productos[["TIPO_DE_IDENTIFICACION_DEL_TITULAR"]].dtypes

TIPO_DE_IDENTIFICACION_DEL_TITULAR    object
dtype: object

In [49]:
df_productos[["NRO_DE_IDENTIFICACION_DEL_TITULAR"]].dtypes

NRO_DE_IDENTIFICACION_DEL_TITULAR    object
dtype: object

In [51]:
df_embargos[["DOCTYPE"]].dtypes

DOCTYPE    object
dtype: object

In [63]:
df_embargos[["RESPONDENTID"]].dtypes
df_embargos[["RESPONDENTID"]].head()

     RESPONDENTID
0       890900250
1        59152459
2  19091109214037
3       219030612
4      5059152464

### DESTINO PRODUCTOS EMBARGADOS

In [64]:
df_productos.merge(df_embargos, how="left", left_on=["TIPO_DE_IDENTIFICACION_DEL_TITULAR", "NRO_DE_IDENTIFICACION_DEL_TITULAR"], right_on=["DOCTYPE", "RESPONDENTID"])

,NUMERO_DE_RASTREO,TIPO_DE_IDENTIFICACION_DEL_TITULAR,NRO_DE_IDENTIFICACION_DEL_TITULAR,INDICADOR_DE_SOLO_TITULAR_PRINCIPAL,INDICADOR_DE_OMITIR_CUENTAS_CANCELADAS,OFICINA_DUENA_DE_LA_CUENTA,CUENTA_PERMITE_DEBITOS_SOBREGIRO,CUENTA_PERMITE_CREDITOS_SOBREGIRO,MARCAS_DE_LAS_CUENTAS,FILLER_PARA_USO_FUTURO,...,RESPONDENTID,RESPONDENTNAME,RESPONSABLE,RUB,SCANUSER,SISTEMBANKNAME,SOLUTIONDAYS,SPECIALANOTATION,SUBSEGMENT,VALUE
0,000000000001,1,000000068287066,T,Y,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,000000000021,1,000000008699669,T,Y,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,000000000002,1,000001090407176,T,Y,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,000000000040,1,000000080431468,T,Y,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,000000000023,1,000000075070484,T,Y,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34205,000000000016,1,180720260,T,Y,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34206,000000000016,1,180720401,T,Y,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34207,000000000023,1,180720414,T,Y,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34208,000000000024,1,180720220,T,Y,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34209,000000000026,1,180720226,T,Y,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
%pip install mysql-connector

DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
Collecting mysql-connector
  Using cached mysql-connector-2.2.9.tar.gz (11.9 MB)
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: mysql-connector
  Building wheel for mysql-connector (setup.py) ... done
  Created wheel for mysql-connector: filename=mysql_connector-2.2.9-cp39-cp39-macosx_12_0_arm64.whl size=247956 sha256=dc083e04d64ed6dff2813ba5d113ad0d2cf89726c8b88e27160b32780c8c1f15
  Stored in directory: /Users/jeanflores/Library/Caches/pip/wheels/7b/14/39/5aad423666e827dfe9a1fbcd111ac17171e7c9865d570780ce
Successfully built mysql-connector
Installing collected packages: mysql-connector
  DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
Successfully installed mysql-connector-2.2.9
WARNING: There was an error checking the latest version of pip.
Note: you may need to restart the kernel to use updated packages.

Create tables

In [24]:
import mysql.connector

db = mysql.connector.connect(
    host="localhost",
    user="root",
    password="123456",
    database="embargos"
)

In [27]:
cr = db.cursor(buffered=True)

In [38]:
cr.execute('''
    CREATE TABLE IF NOT EXISTS embargos (
    estado varchar(4) NOT NULL,
    anotacion varchar(30) NOT NULL,
    localidad varchar(30) NOT NULL,
    complejidad varchar(50) NOT NULL,
    detalle_complejidad varchar(50) NOT NULL,
    encargado varchar(100) NOT NULL,
    fecha_recepcion varchar(10) NOT NULL,
    hora_recepcion varchar(10) NOT NULL,
    job_id varchar(20) NOT NULL,
    fecha_embargo varchar(20) NOT NULL,
    id_oracle varchar(20) NOT NULL,
    efectivo varchar(10) NOT NULL,
    tipo_documento varchar(20) NOT NULL,
    numero_documento varchar(20) NOT NULL,
    tipo_cuenta varchar(20) NOT NULL,
    numero_cuenta varchar(20) NOT NULL
    )
''')

In [42]:
cr.execute('''
CREATE TABLE IF NOT EXISTS productos (
    tipo_documento varchar(20) NOT NULL,
    numero_documento varchar(20) NOT NULL,
    fecha_apertura varchar(20) NOT NULL,
    estado varchar(5) NOT NULL,
    plan varchar(5) NOT NULL,
    saldo_disponible varchar(20) NOT NULL,
    cuenta_inembargable varchar(20) NOT NULL,
    nombre_completo varchar(100) NOT NULL,
    nombre_corto varchar(20) NOT NULL,
    oficina_duena varchar(20) NOT NULL,
    marcacion_cuenta varchar(20) NOT NULL,
    cuenta_embargada varchar(20) NOT NULL
    )
''')