In [1]:
%pip install pandasql
import pandas as pd
from IPython.display import display
import numpy as np
import pandasql as ps
from datetime import datetime

Requirement already satisfied: pandasql in c:\users\lenovo\anaconda3\lib\site-packages (0.7.3)
Requirement already satisfied: numpy in c:\users\lenovo\anaconda3\lib\site-packages (from pandasql) (1.21.5)
Requirement already satisfied: sqlalchemy in c:\users\lenovo\anaconda3\lib\site-packages (from pandasql) (1.4.32)
Requirement already satisfied: pandas in c:\users\lenovo\anaconda3\lib\site-packages (from pandasql) (1.4.2)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\lenovo\anaconda3\lib\site-packages (from pandas->pandasql) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\lenovo\anaconda3\lib\site-packages (from pandas->pandasql) (2021.3)
Requirement already satisfied: six>=1.5 in c:\users\lenovo\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas->pandasql) (1.16.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\lenovo\anaconda3\lib\site-packages (from sqlalchemy->pandasql) (1.1.1)
Note: you may need to restart the kernel to use updated packages.

In [2]:
column_names = [
    "NUMERO_DE_RASTREO", 
    "TIPO_DE_IDENTIFICACION_DEL_TITULAR", 
    "NRO_DE_IDENTIFICACION_DEL_TITULAR", 
    "INDICADOR_DE_SOLO_TITULAR_PRINCIPAL", 
    "INDICADOR_DE_OMITIR_CUENTAS_CANCELADAS",
    "OFICINA_DUENA_DE_LA_CUENTA", 
    "CUENTA_PERMITE_DEBITOS_SOBREGIRO", 
    "CUENTA_PERMITE_CREDITOS_SOBREGIRO", 
    "MARCAS_DE_LAS_CUENTAS_1", 
    "FILLER_PARA_USO_FUTURO", 
    "CODIGO_DE_RESPUESTA",
    "DESCRIPCION_DE_RESPUESTA",
    "CONSECUTIVO_DE_CUENTAS_CONSULTADAS_POR_CLIENTE",
    "TIPO_DE_CUENTA_A_CONSULTAR", 
    "NUMERO_DE_CUENTA",
    "CODIGO_DE_LA_OFICINA_DUENA_DE_LA_CUENTA", 
    "CUENTA_PERMITE_DEBITOS", 
    "CUENTA_PERMITE_CREDITOS",
    "MONEDA", 
    "FECHA_DE_APERTURA_DE_LA_CUENTA", 
    "NUMERO_DE_DIAS_DE_INACTIVIDAD_DE_LA_CUENTA", 
    "INDICADOR_DE_CUENTA_CANCELADA", 
    "FECHA_DE_CIERRE_DE_LA_CUENTA",
    "NUMERO_DE_COTITULARES", 
    "TIPO_IDENTIFICACION_TITULAR", 
    "NRO_DE_IDENTIFICACION_TITULAR",
    "NOMBRE_TITULAR_CUENTA", 
    "RELACION_ENTRE_CLIENTE_Y_CUENTA",
    "MARCAS_DE_LAS_CUENTAS",
    "REGIMEN_CUENTA_MAESTRA", 
    "CODIGO_DE_SERVICIO",
    "PLAZO_SOBREGIRO",
    "DIAS_SOBREGIRO",
    "DIAS_EN_MORA_SOBREGIRO",
    "CLASIFICACION_CARTERA_PARA_CTAS_CORRIENTES",
    "SIGNO_DEL_CUPO_DE_SOBREGIRO", 
    "VALOR_DEL_CUPO_DE_SOBREGIRO", 
    "SIGNO_DEL_SALDO_EFECTIVO_DE_LA_CUENTA",
    "SALDO_EFECTIVO_DE_LA_CUENTA", 
    "SIGNO_DEL_SALDO_EN_CANJE_DE_LA_CUENTA", 
    "SALDO_EN_CANJE_DE_LA_CUENTA",
    "SIGNO_DEL_SALDO_DISPONIBLE_DE_LA_CUENTA", 
    "SALDO_DISPONIBLE_DE_LA_CUENTA", 
    "SIGNO_DEL_SALDO_DISPONIBLE_SIN_SOBREGIRO", 
    "SALDO_DISPONIBLE_SIN_SOBREGIRO", 
    "SIGNO_DEL_SALDO_EN_CUENTA_POR_COBRAR",
    "SALDO_EN_CUENTA_POR_COBRAR", 
    "SIGNO_DEL_SALDO_BLOQUEADO", 
    "SALDO_BLOQUEADO", 
    "SIGNO_DE_SALDO_EN_BOLSILLOS", 
    "SALDO_EN_BOLSILLOS", 
    "SIGNO_DEL_SALDO_EN_CANJE_AL_INICIO_DEL_DIA", 
    "SALDO_EN_CANJE_AL_INICIO_DEL_DIA",
    "SIGNO_DEL_SALDO_EFECTIVO_AL_INICIO_DEL_DIA", 
    "SALDO_EFECTIVO_AL_INICIO_DEL_DIA", 
    "SIGNO_DEL_SALDO_DE_DISPONIBLE_DEL_CUPO_DE_SOBREGIRO", 
    "SALDO_DE_DISPONIBLE_DEL_CUPO_DE_SOBREGIRO",
    "SIGNO_INTERES_NORMALES",
    "INTERES_NORMALES",
    " SIGNO_INTERES_EN_SUSPENSION",
    "INTERES_EN_SUSPENSION",
    "SIGNO_CUPO_DE_REMESAS", 
    "CUPO_DE_REMESAS", 
    "SIGNO_CUPO_REMESA_NEGOCIADA", 
    "CUPO_REMESA_NEGOCIADA",
    "SIGNO_UTILIZACION_REMESAS",
    "UTILIZACION_DE_REMESAS", 
    "PARA_USO_FUTURO_INFO_DE_LA_CUENTA", 
    "CAPTACION"
]

print(len(column_names))

types = {}

for value in column_names:
    types[value] = str

df_productos_legales = pd.read_csv("data/input/ProductosLegales", sep="|", header=None, names=column_names, index_col=False, dtype=types)
display(df_productos_legales)

69

,NUMERO_DE_RASTREO,TIPO_DE_IDENTIFICACION_DEL_TITULAR,NRO_DE_IDENTIFICACION_DEL_TITULAR,INDICADOR_DE_SOLO_TITULAR_PRINCIPAL,INDICADOR_DE_OMITIR_CUENTAS_CANCELADAS,OFICINA_DUENA_DE_LA_CUENTA,CUENTA_PERMITE_DEBITOS_SOBREGIRO,CUENTA_PERMITE_CREDITOS_SOBREGIRO,MARCAS_DE_LAS_CUENTAS_1,FILLER_PARA_USO_FUTURO,...,SIGNO_INTERES_EN_SUSPENSION,INTERES_EN_SUSPENSION,SIGNO_CUPO_DE_REMESAS,CUPO_DE_REMESAS,SIGNO_CUPO_REMESA_NEGOCIADA,CUPO_REMESA_NEGOCIADA,SIGNO_UTILIZACION_REMESAS,UTILIZACION_DE_REMESAS,PARA_USO_FUTURO_INFO_DE_LA_CUENTA,CAPTACION
0,000000000001,1,000000068287066,T,Y,NaN,NaN,NaN,NaN,NaN,...,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000
1,000000000021,1,000000008699669,T,Y,NaN,NaN,NaN,NaN,NaN,...,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000
2,000000000002,1,000001090407176,T,Y,NaN,NaN,NaN,NaN,NaN,...,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000
3,000000000040,1,000000080431468,T,Y,NaN,NaN,NaN,NaN,NaN,...,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000
4,000000000023,1,000000075070484,T,Y,NaN,NaN,NaN,NaN,NaN,...,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33277,000000009025,1,000000045526350,T,Y,NaN,NaN,NaN,NaN,NaN,...,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000
33278,000000009029,1,000000045485857,T,Y,NaN,NaN,NaN,NaN,NaN,...,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000
33279,000000009030,1,000001143353738,T,Y,NaN,NaN,NaN,NaN,NaN,...,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000
33280,000000009030,1,000001143353738,T,Y,NaN,NaN,NaN,NaN,NaN,...,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000
33281,000000009030,1,000001143353738,T,Y,NaN,NaN,NaN,NaN,NaN,...,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000

In [3]:
df_productos_virtuales = pd.read_csv("data/input/ProductosVirtuales", sep="|", header=None, names=column_names, dtype=types)
df_productos_virtuales.head()

,NUMERO_DE_RASTREO,TIPO_DE_IDENTIFICACION_DEL_TITULAR,NRO_DE_IDENTIFICACION_DEL_TITULAR,INDICADOR_DE_SOLO_TITULAR_PRINCIPAL,INDICADOR_DE_OMITIR_CUENTAS_CANCELADAS,OFICINA_DUENA_DE_LA_CUENTA,CUENTA_PERMITE_DEBITOS_SOBREGIRO,CUENTA_PERMITE_CREDITOS_SOBREGIRO,MARCAS_DE_LAS_CUENTAS_1,FILLER_PARA_USO_FUTURO,...,SIGNO_INTERES_EN_SUSPENSION,INTERES_EN_SUSPENSION,SIGNO_CUPO_DE_REMESAS,CUPO_DE_REMESAS,SIGNO_CUPO_REMESA_NEGOCIADA,CUPO_REMESA_NEGOCIADA,SIGNO_UTILIZACION_REMESAS,UTILIZACION_DE_REMESAS,PARA_USO_FUTURO_INFO_DE_LA_CUENTA,CAPTACION
0,000000000001,3,890900250,T,Y,NaN,NaN,NaN,NaN,NaN,...,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000
1,000000000307,2,59152459,T,Y,NaN,NaN,NaN,NaN,NaN,...,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000
2,000000000307,3,19091109214037,T,Y,NaN,NaN,NaN,NaN,NaN,...,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000
3,000000000205,7,219030612,T,Y,NaN,NaN,NaN,NaN,NaN,...,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000
4,000000000069,5,5059152464,T,Y,NaN,NaN,NaN,NaN,NaN,...,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000

In [4]:
total_null = df_productos_virtuales.isnull().sum().sort_values(ascending = False) # Total de nulos
percent_null = (df_productos_virtuales.isnull().sum()/df_productos_virtuales.isnull().count()).sort_values(ascending = False) #porcentaje de nulos
missing_data = pd.concat([total_null,percent_null],axis = 1,keys=['total_null','percent_null'])
missing_data

                                    total_null  percent_null
OFICINA_DUENA_DE_LA_CUENTA                 928           1.0
CUENTA_PERMITE_DEBITOS_SOBREGIRO           928           1.0
CUENTA_PERMITE_CREDITOS_SOBREGIRO          928           1.0
MARCAS_DE_LAS_CUENTAS_1                    928           1.0
FILLER_PARA_USO_FUTURO                     928           1.0
...                                        ...           ...
DIAS_SOBREGIRO                               0           0.0
DIAS_EN_MORA_SOBREGIRO                       0           0.0
TIPO_DE_IDENTIFICACION_DEL_TITULAR           0           0.0
SIGNO_DEL_CUPO_DE_SOBREGIRO                  0           0.0
CAPTACION                                    0           0.0

[69 rows x 2 columns]

In [5]:
df_productos = df_productos_legales.append(df_productos_virtuales)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_2872\4251618290.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_productos = df_productos_legales.append(df_productos_virtuales)

In [6]:
df_productos.sort_values(by=['NRO_DE_IDENTIFICACION_DEL_TITULAR'])

,NUMERO_DE_RASTREO,TIPO_DE_IDENTIFICACION_DEL_TITULAR,NRO_DE_IDENTIFICACION_DEL_TITULAR,INDICADOR_DE_SOLO_TITULAR_PRINCIPAL,INDICADOR_DE_OMITIR_CUENTAS_CANCELADAS,OFICINA_DUENA_DE_LA_CUENTA,CUENTA_PERMITE_DEBITOS_SOBREGIRO,CUENTA_PERMITE_CREDITOS_SOBREGIRO,MARCAS_DE_LAS_CUENTAS_1,FILLER_PARA_USO_FUTURO,...,SIGNO_INTERES_EN_SUSPENSION,INTERES_EN_SUSPENSION,SIGNO_CUPO_DE_REMESAS,CUPO_DE_REMESAS,SIGNO_CUPO_REMESA_NEGOCIADA,CUPO_REMESA_NEGOCIADA,SIGNO_UTILIZACION_REMESAS,UTILIZACION_DE_REMESAS,PARA_USO_FUTURO_INFO_DE_LA_CUENTA,CAPTACION
856,000000000218,1,000000000119525,T,Y,NaN,NaN,NaN,NaN,NaN,...,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000
857,000000000218,1,000000000119525,T,Y,NaN,NaN,NaN,NaN,NaN,...,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000
12114,000000013973,1,000000000281485,T,Y,NaN,NaN,NaN,NaN,NaN,...,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000
13899,000000012040,1,000000000379510,T,Y,NaN,NaN,NaN,NaN,NaN,...,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000
22047,000000013266,1,000000000379510,T,Y,NaN,NaN,NaN,NaN,NaN,...,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,000000000001,3,890900250,T,Y,NaN,NaN,NaN,NaN,NaN,...,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000
870,000000000009,3,890900250,T,Y,NaN,NaN,NaN,NaN,NaN,...,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000
33,000000000006,1,89912528,T,Y,NaN,NaN,NaN,NaN,NaN,...,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000
903,000000000020,1,89912528,T,Y,NaN,NaN,NaN,NaN,NaN,...,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000
216,000000000158,1,92137605,T,Y,NaN,NaN,NaN,NaN,NaN,...,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000,+,00000000000000000000

In [7]:
df_embargos = pd.read_csv("data/input/embargos.csv", sep=",", header=0, index_col = False, dtype=str)

In [8]:
display(df_embargos)

,ACCOUNTOFFICE,ALLOCATIONDATE,APPLICATIONDATE,BANKCODE,BANKNAME,CASEREFERENCE,CHECKCD,CHEKMASIVO,CITY,CLAIMANTENTITY,...,RESPONDENTID,RESPONDENTNAME,RESPONSABLE,RUB,SCANUSER,SISTEMBANKNAME,SOLUTIONDAYS,SPECIALANOTATION,SUBSEGMENT,VALUE
0,918,NaN,NaN,40,Banco Todos,B1A02109A2BA11EB815800155D321E71,NO,NO,BARRANCA,Juzgado,...,890900250,TRILLOS USME AMPARO ESTHER,Deisy Paola Aguirre Vasquez,RL00119571,NaN,NaN,3,NaN,NaN,385400
1,918,NaN,NaN,40,Banco Todos,B1A02109A2BA11EB815800155D321E71,NO,NO,BARRANCA,Juzgado,...,59152459,PEDRO VICENTE REYES PEREZ,Deisy Paola Aguirre Vasquez,RL00119571,NaN,NaN,3,NaN,NaN,152736600
2,918,NaN,NaN,40,Banco Todos,B1A02109A2BA11EB815800155D321E71,NO,NO,BARRANCA,Juzgado,...,19091109214037,HENAO ESPITIA JHON FREDY 591,Deisy Paola Aguirre Vasquez,RL00119571,NaN,NaN,3,NaN,NaN,563300
3,918,NaN,NaN,40,Banco Todos,B1A02109A2BA11EB815800155D321E71,NO,NO,BARRANCA,Juzgado,...,219030612,HERNANDEZ LAVERDE FABIO,Deisy Paola Aguirre Vasquez,RL00119571,NaN,NaN,3,NaN,NaN,19765900
4,918,NaN,NaN,40,Banco Todos,B1A02109A2BA11EB815800155D321E71,NO,NO,BARRANCA,Juzgado,...,5059152464,RIERES BARRIOS JOSE RAFAEL,Deisy Paola Aguirre Vasquez,RL00119571,NaN,NaN,3,NaN,NaN,23281000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
860,918,NaN,NaN,40,NaN,CDA0A00366E511EB814D00155D484328,NO,NO,BUCARAMANGA,NaN,...,13871433,LUIS ALEJANDRO FERREIRA RUIZ,Olga Cecilia Quiroz Escobar,RL00085831,NaN,NaN,3,NaN,PERSONAS NATURALES,50000000
861,918,NaN,NaN,40,Banco Agrario,8C13075F66EC11EB814D00155D484328,NO,NO,IPIALES,Juzgado,...,13007905,CARLOS AGUSTIN JARAMILLO MESIAS,Luis Fernando Posada Rios,RL00085893,NaN,NaN,3,NaN,COMERCIO,36000000
862,918,NaN,NaN,40,Banco Agrario,AABD11F366E711EB814D00155D484328,NO,NO,MANI,Juzgado,...,900549488,OCIVILCOMP S A S RL,Luis Fernando Posada Rios,RL00085873,NaN,NaN,3,NaN,SERVICIOS NO FINANCIEROS,153200000
863,918,NaN,NaN,40,Banco Agrario,AABD11F366E711EB814D00155D484328,NO,NO,MANI,Juzgado,...,74811641,ARIEL HERNAN DIAZ RIVERA,Luis Fernando Posada Rios,RL00085873,NaN,NaN,3,NaN,CONSTRUCCION,153200000
864,918,NaN,NaN,40,NaN,BC29419666E511EB815300155D321E71,NO,NO,BUCARAMANGA,NaN,...,91295189,BANCO CAJA SOCIAL SA,Ana Carolina Osorio Osorio,RL00085826,NaN,NaN,3,NaN,NaN,25400000

In [9]:
total_nulos = df_embargos.isnull().sum().sort_values(ascending = False)
porcentaje_nulos = (df_embargos.isnull().sum()/df_embargos.isnull().count()).sort_values(ascending = False)
cuadro_nulos = pd.concat([total_nulos, porcentaje_nulos], axis = 1, keys = ['total_nulos','porcentaje_nulos'])
cuadro_nulos

                  total_nulos  porcentaje_nulos
APPLICATIONDATE           865          1.000000
ALLOCATIONDATE            865          1.000000
MANAGEOBS                 865          1.000000
CLIENTSEGMENT             865          1.000000
SPECIALANOTATION          865          1.000000
SISTEMBANKNAME            865          1.000000
SCANUSER                  653          0.754913
CLAIMANTID                529          0.611561
ISTOWAITFORGUID           520          0.601156
SUBSEGMENT                518          0.598844
ISLINKED                  347          0.401156
LEGALNUMBER               301          0.347977
PAIDACCOUNTNO             211          0.243931
BANKNAME                  211          0.243931
CLAIMANTENTITY            177          0.204624
FILIALID                  177          0.204624
CLAIMANTNAME              177          0.204624
CLOSEDOPEN                177          0.204624
EMISSIONDATE              177          0.204624
BANKCODE                   64          0.073988
LEGALADDRESS               62          0.071676
VALUE                      58          0.067052
EMPLOYEENAME               43          0.049711
ENTITYPROCESS              14          0.016185
LETTERTYPE                 14          0.016185
RESPONDENTNAME              8          0.009249
RESPONDENTID                7          0.008092
RESPONSABLE                 4          0.004624
LEGALDEPARTMENT             2          0.002312
COMPLEJIDAD                 1          0.001156
CITY                        0          0.000000
RUB                         0          0.000000
FUTURE                      0          0.000000
REQUIREMENTSTATE            0          0.000000
CHEKMASIVO                  0          0.000000
SOLUTIONDAYS                0          0.000000
CHECKCD                     0          0.000000
CASEREFERENCE               0          0.000000
REQUIREMENTTYPE             0          0.000000
RECEPTIONDATE               0          0.000000
REQUESTSENDER               0          0.000000
REGISTRATIONID              0          0.000000
HASRETURNED                 0          0.000000
PERCENT                     0          0.000000
ORACLEID                    0          0.000000
DOCTYPE                     0          0.000000
LEGALNAME                   0          0.000000
LAWTYPE                     0          0.000000
ENTRYCHANNEL                0          0.000000
FILEDID                     0          0.000000
ACCOUNTOFFICE               0          0.000000

In [10]:
df_productos[["TIPO_DE_IDENTIFICACION_DEL_TITULAR"]].dtypes

TIPO_DE_IDENTIFICACION_DEL_TITULAR    object
dtype: object

In [11]:
df_productos[["NRO_DE_IDENTIFICACION_DEL_TITULAR"]].dtypes

NRO_DE_IDENTIFICACION_DEL_TITULAR    object
dtype: object

In [12]:
df_embargos[["DOCTYPE"]].dtypes

DOCTYPE    object
dtype: object

In [13]:
df_embargos[["RESPONDENTID"]].dtypes
df_embargos[["DOCTYPE"]].head(20)

                      DOCTYPE
0                         NIT
1       Cédula de extranjería
2                         NIT
3   ID Extranjero Persona Jur
4                   Pasaporte
5                   Pasaporte
6        Cedula de Ciudadanía
7        Cedula de Ciudadanía
8        Cedula de Ciudadanía
9       Cédula de extranjería
10      Cédula de extranjería
11       TARJETA DE IDENTIDAD
12                        NIT
13                        NIT
14                        NIT
15                        NIT
16      Cédula de extranjería
17                        NIT
18      Cédula de extranjería
19       Cedula de Ciudadanía

In [14]:
def cast_doctype(row):
    if row["DOCTYPE"] == "Cedula de Ciudadanía":
        return "1"
    if row["DOCTYPE"] == "NIT":
        return "2"
    return "3"

In [15]:
df_embargos["DOCTYPE_NUM"] = df_embargos.apply(cast_doctype,axis=1)

In [16]:
df_embargos[["DOCTYPE_NUM", "DOCTYPE"]].head(9)

  DOCTYPE_NUM                    DOCTYPE
0           2                        NIT
1           3      Cédula de extranjería
2           2                        NIT
3           3  ID Extranjero Persona Jur
4           3                  Pasaporte
5           3                  Pasaporte
6           1       Cedula de Ciudadanía
7           1       Cedula de Ciudadanía
8           1       Cedula de Ciudadanía

<h1>DESTINO RESULTADOS</h1>

In [17]:
# destinoResultados
df_embargos["HASRETURNED"].apply(lambda x: x.upper())

0      NO
1      NO
2      NO
3      NO
4      NO
       ..
860    NO
861    NO
862    NO
863    NO
864    NO
Name: HASRETURNED, Length: 865, dtype: object

In [18]:
df_embargos["HASRETURNED"]

0      NO
1      NO
2      NO
3      NO
4      NO
       ..
860    NO
861    NO
862    NO
863    NO
864    NO
Name: HASRETURNED, Length: 865, dtype: object

In [19]:
# resultados - regla 1

def check_estado(row): 
    if row["HASRETURNED"] == "SI":
        return "R"
    return "P"

In [20]:
df_embargos["estado"] = df_embargos.apply(check_estado, axis = 1)

In [21]:
df_embargos[(df_embargos.estado == "R")]

,ACCOUNTOFFICE,ALLOCATIONDATE,APPLICATIONDATE,BANKCODE,BANKNAME,CASEREFERENCE,CHECKCD,CHEKMASIVO,CITY,CLAIMANTENTITY,...,RESPONSABLE,RUB,SCANUSER,SISTEMBANKNAME,SOLUTIONDAYS,SPECIALANOTATION,SUBSEGMENT,VALUE,DOCTYPE_NUM,estado
356,918,NaN,NaN,40,Banco Agrario,F56491102C4911ECAB220EC52C45F4E1,NO,NO,BARRANQUILLA,JUZGADO,...,Diby Yurley Agudelo Tejada,92126383,jcassab,NaN,3,NaN,NaN,NaN,1,R
359,918,NaN,NaN,40,Banco Agrario,4A6714F82C4911ECAB2202936C306DEF,NO,NO,BARRANQUILLA,JUZGADO,...,Diby Yurley Agudelo Tejada,92126393,jcassab,NaN,3,NaN,NaN,NaN,2,R
360,918,NaN,NaN,40,Banco Agrario,4A6714F82C4911ECAB2202936C306DEF,NO,NO,BARRANQUILLA,JUZGADO,...,Diby Yurley Agudelo Tejada,92126393,jcassab,NaN,3,NaN,NaN,NaN,1,R
362,918,NaN,NaN,40,NaN,6285E7D42C4E11ECAB220EC52C45F4E1,NO,NO,OCAÑA,JUZGADO,...,Veronica Blandon Betancur,RL00232159,NaN,NaN,3,NaN,NaN,NaN,1,R
366,918,NaN,NaN,40,Banco Agrario,3B6CAFBE2C4A11ECAB2202936C306DEF,NO,NO,BARRANQUILLA,JUZGADO,...,Diby Yurley Agudelo Tejada,92126382,jcassab,NaN,3,NaN,NaN,NaN,1,R
367,918,NaN,NaN,40,Banco Agrario,3B6CAFBE2C4A11ECAB2202936C306DEF,NO,NO,BARRANQUILLA,JUZGADO,...,Diby Yurley Agudelo Tejada,92126382,jcassab,NaN,3,NaN,NaN,NaN,1,R
368,918,NaN,NaN,40,Banco Agrario,3B6CAFBE2C4A11ECAB2202936C306DEF,NO,NO,BARRANQUILLA,JUZGADO,...,Diby Yurley Agudelo Tejada,92126382,jcassab,NaN,3,NaN,NaN,NaN,1,R
372,918,NaN,NaN,40,Banco Agrario,6173813F2C4A11ECAB220EC52C45F4E1,NO,NO,BARRANQUILLA,JUZGADO,...,Diby Yurley Agudelo Tejada,92126379,jcassab,NaN,3,NaN,NaN,NaN,1,R
374,918,NaN,NaN,NaN,NaN,0D79F94E2C5311ECAB2202936C306DEF,NO,NO,BOGOTA DC,JUZGADO,...,Veronica Blandon Betancur,RL00232177,NaN,NaN,3,NaN,NaN,NaN,1,R
376,918,NaN,NaN,40,Banco Agrario,6D6F211A2C4A11ECAB220EC52C45F4E1,NO,NO,BARRANQUILLA,JUZGADO,...,Diby Yurley Agudelo Tejada,92126380,jcassab,NaN,3,NaN,NaN,NaN,1,R
377,918,NaN,NaN,40,Banco Agrario,6D6F211A2C4A11ECAB220EC52C45F4E1,NO,NO,BARRANQUILLA,JUZGADO,...,Diby Yurley Agudelo Tejada,92126380,jcassab,NaN,3,NaN,NaN,NaN,2,R
378,918,NaN,NaN,40,Banco Agrario,555FC6502C4A11ECAB220EC52C45F4E1,NO,NO,BARRANQUILLA,JUZGADO,...,Diby Yurley Agudelo Tejada,92126381,jcassab,NaN,3,NaN,NaN,NaN,1,R
391,918,NaN,NaN,40,Banco Agrario,856A31C42C4A11ECAB220EC52C45F4E1,NO,NO,BARRANQUILLA,JUZGADO,...,Diby Yurley Agudelo Tejada,92126386,jcassab,NaN,3,NaN,NaN,NaN,1,R
392,918,NaN,NaN,40,Banco Agrario,856A31C42C4A11ECAB220EC52C45F4E1,NO,NO,BARRANQUILLA,JUZGADO,...,Diby Yurley Agudelo Tejada,92126386,jcassab,NaN,3,NaN,NaN,NaN,1,R
395,918,NaN,NaN,40,Banco Agrario,A1CE14542C4A11ECAB2202936C306DEF,NO,NO,BARRANQUILLA,JUZGADO,...,Diby Yurley Agudelo Tejada,92126387,jcassab,NaN,3,NaN,NaN,NaN,1,R
399,918,NaN,NaN,40,Banco Agrario,B56388EB2C4A11ECAB220EC52C45F4E1,NO,NO,BARRANQUILLA,JUZGADO,...,Diby Yurley Agudelo Tejada,92126388,jcassab,NaN,3,NaN,NaN,NaN,2,R
400,918,NaN,NaN,40,Banco Agrario,E102A7C22C5811ECAB220EC52C45F4E1,NO,NO,BOGOTA DC,JUZGADO,...,Veronica Blandon Betancur,RL00232208,NaN,NaN,3,NaN,NaN,NaN,1,R
401,918,NaN,NaN,40,Banco Agrario,E102A7C22C5811ECAB220EC52C45F4E1,NO,NO,BOGOTA DC,JUZGADO,...,Veronica Blandon Betancur,RL00232208,NaN,NaN,3,NaN,PERSONAS NATURALES,NaN,1,R
402,918,NaN,NaN,40,Banco Agrario,E102A7C22C5811ECAB220EC52C45F4E1,NO,NO,BOGOTA DC,JUZGADO,...,Veronica Blandon Betancur,RL00232208,NaN,NaN,3,NaN,PERSONAS NATURALES,NaN,1,R
403,918,NaN,NaN,40,Banco Agrario,D1F359122C4A11ECAB2202936C306DEF,NO,NO,BARRANQUILLA,JUZGADO,...,Diby Yurley Agudelo Tejada,92126389,jcassab,NaN,3,NaN,NaN,NaN,1,R
592,918,NaN,NaN,40,Banco Agrario,8FD79247A2E511EB81140050568BA458,NO,NO,MONTERIA,JUZGADO,...,Olga Cecilia Quiroz Escobar,77198718,sraillo,NaN,3,NaN,PERSONAS NATURALES,13026000,1,R
622,918,NaN,NaN,40,Banco Agrario,4F76EB0F811611EB815700155D321E71,NO,NO,BUENAVENTURA,Juzgado,...,Maribel Arroyave Foronda,85110825,malgiral,NaN,3,NaN,PERSONAS NATURALES,14000000,1,R
623,918,NaN,NaN,40,Banco Agrario,4F76EB0F811611EB815700155D321E71,NO,NO,BUENAVENTURA,Juzgado,...,Maribel Arroyave Foronda,85110825,malgiral,NaN,3,NaN,PERSONAS NATURALES,14000000,1,R
652,918,NaN,NaN,40,Banco Agrario,B1906AB8EFE611EB816300155D321E71,NO,NO,CALI,JUZGADO,...,Diby Yurley Agudelo Tejada,88983967,dbalanta,NaN,3,NaN,PERSONAS NATURALES,215400000,1,R
666,918,NaN,NaN,NaN,NaN,84408B22EFE511EB816300155D321E71,NO,NO,BUCARAMANGA,JUZGADO,...,Olga Cecilia Quiroz Escobar,75819187,lavargas,NaN,3,NaN,GOBIERNO,826251016,2,R
707,918,NaN,NaN,40,Banco Agrario,4F76EB0F811611EB815700155D321E71,NO,NO,BUENAVENTURA,Juzgado,...,Maribel Arroyave Foronda,85110825,malgiral,NaN,3,NaN,PERSONAS NATURALES,14000000,1,R
708,918,NaN,NaN,40,Banco Agrario,4F76EB0F811611EB815700155D321E71,NO,NO,BUENAVENTURA,Juzgado,...,Maribel Arroyave Foronda,85110825,malgiral,NaN,3,NaN,PERSONAS NATURALES,14000000,1,R
785,918,NaN,NaN,40,Banco Agrario,0C89C369804811EB814F00155D484328,NO,NO,GIRARDOT,Juzgado,...,Luis Fernando Posada Rios,92171119,diebarre,NaN,3,NaN,PERSONAS NATURALES,8000000,1,R

In [22]:
# resultados - regla 2

#df_embargos["SPECIALANOTATION"] = df_embargos["SPECIALANOTATION"].astype(str)
df_embargos["anotacion"] = df_embargos["SPECIALANOTATION"]

In [23]:
# resultados - regla 3
df_embargos["CITY"] = df_embargos["CITY"].astype(str)
df_embargos["CLAIMANTENTITY"] = df_embargos["CLAIMANTENTITY"].astype(str)

df_embargos["CLAIMANTENTITY"].fillna(value = '', inplace = True)

In [24]:

def check_localidad(row):
    
    if row['CLAIMANTENTITY']!='nan' and len(row['CLAIMANTENTITY'])!=0:
        return row['CITY'] + " (" + row['CLAIMANTENTITY'] + ")"
    if row['CLAIMANTENTITY']=='nan' or len(row['CLAIMANTENTITY'])==0:
        return row['CITY']
    if len(row['CLAIMANTENTITY'])==0:
        return "sin localidad"

In [25]:
df_embargos["localidad"] = df_embargos.apply(check_localidad, axis = 1)

In [26]:
df_embargos[["CITY","CLAIMANTENTITY","localidad"]]

            CITY CLAIMANTENTITY           localidad
0       BARRANCA        Juzgado  BARRANCA (Juzgado)
1       BARRANCA        Juzgado  BARRANCA (Juzgado)
2       BARRANCA        Juzgado  BARRANCA (Juzgado)
3       BARRANCA        Juzgado  BARRANCA (Juzgado)
4       BARRANCA        Juzgado  BARRANCA (Juzgado)
..           ...            ...                 ...
860  BUCARAMANGA            nan         BUCARAMANGA
861      IPIALES        Juzgado   IPIALES (Juzgado)
862         MANI        Juzgado      MANI (Juzgado)
863         MANI        Juzgado      MANI (Juzgado)
864  BUCARAMANGA            nan         BUCARAMANGA

[865 rows x 3 columns]

In [27]:
# resultados - regla 4

df_embargos[["LEGALNAME"]] = df_embargos[["LEGALNAME"]].astype(str)
df_embargos[["FILIALID"]] = df_embargos[["FILIALID"]].astype(str)


df_embargos["LEGALNAME"].apply(lambda x: x.upper())
#df_embargos["FILIALID"].apply(lambda y: y.upper())


def columna_complejidad(row):
    if row["LEGALNAME"] == "JUZ" or row["LEGALNAME"] == "JUZGADO" or  row["FILIALID"] != "Bancolombia":
        return "SI"
    else:
        return "NO"

In [28]:
df_embargos["complejidadn"] = df_embargos.apply(columna_complejidad, axis = 1)

In [29]:
#df_embargos[(df_embargos.complejidad == 'NO')]

df_embargos[["complejidadn","LEGALNAME","FILIALID"]]

    complejidadn                                    LEGALNAME     FILIALID
0             NO                        DISTRITO DE BARRANCA   Bancolombia
1             NO                        DISTRITO DE BARRANCA   Bancolombia
2             NO                        DISTRITO DE BARRANCA   Bancolombia
3             NO                        DISTRITO DE BARRANCA   Bancolombia
4             NO                        DISTRITO DE BARRANCA   Bancolombia
..           ...                                          ...          ...
860           SI            JUZGADO 12 CIV MUN DE BUCARAMANGA          nan
861           NO      JUZGADO PRIMERO CIVIL MUNICIPAL IPIALES  Bancolombia
862           NO             JUZGADO PROMISCUO MUNICIPAL MANI  Bancolombia
863           NO             JUZGADO PROMISCUO MUNICIPAL MANI  Bancolombia
864           SI  JUZGADO DOCE CIVIL MUNICIPAL DE BUCARAMANGA          nan

[865 rows x 3 columns]

In [30]:
# resultados - regla 6

df_embargos.isna().sum()

ACCOUNTOFFICE         0
ALLOCATIONDATE      865
APPLICATIONDATE     865
BANKCODE             64
BANKNAME            211
CASEREFERENCE         0
CHECKCD               0
CHEKMASIVO            0
CITY                  0
CLAIMANTENTITY        0
CLAIMANTID          529
CLAIMANTNAME        177
CLIENTSEGMENT       865
CLOSEDOPEN          177
COMPLEJIDAD           1
DOCTYPE               0
EMISSIONDATE        177
EMPLOYEENAME         43
ENTITYPROCESS        14
ENTRYCHANNEL          0
FILEDID               0
FILIALID              0
FUTURE                0
HASRETURNED           0
ISLINKED            347
ISTOWAITFORGUID     520
LAWTYPE               0
LEGALADDRESS         62
LEGALDEPARTMENT       2
LEGALNAME             0
LEGALNUMBER         301
LETTERTYPE           14
MANAGEOBS           865
ORACLEID              0
PAIDACCOUNTNO       211
PERCENT               0
RECEPTIONDATE         0
REGISTRATIONID        0
REQUESTSENDER         0
REQUIREMENTSTATE      0
REQUIREMENTTYPE       0
RESPONDENTID          7
RESPONDENTNAME        8
RESPONSABLE           4
RUB                   0
SCANUSER            653
SISTEMBANKNAME      865
SOLUTIONDAYS          0
SPECIALANOTATION    865
SUBSEGMENT          518
VALUE                58
DOCTYPE_NUM           0
estado                0
anotacion           865
localidad             0
complejidadn          0
dtype: int64

In [31]:
df_embargos["encargado"] = df_embargos["RESPONSABLE"].fillna(value = "NULL", inplace = False)

In [32]:
df_embargos.isna().sum()

ACCOUNTOFFICE         0
ALLOCATIONDATE      865
APPLICATIONDATE     865
BANKCODE             64
BANKNAME            211
CASEREFERENCE         0
CHECKCD               0
CHEKMASIVO            0
CITY                  0
CLAIMANTENTITY        0
CLAIMANTID          529
CLAIMANTNAME        177
CLIENTSEGMENT       865
CLOSEDOPEN          177
COMPLEJIDAD           1
DOCTYPE               0
EMISSIONDATE        177
EMPLOYEENAME         43
ENTITYPROCESS        14
ENTRYCHANNEL          0
FILEDID               0
FILIALID              0
FUTURE                0
HASRETURNED           0
ISLINKED            347
ISTOWAITFORGUID     520
LAWTYPE               0
LEGALADDRESS         62
LEGALDEPARTMENT       2
LEGALNAME             0
LEGALNUMBER         301
LETTERTYPE           14
MANAGEOBS           865
ORACLEID              0
PAIDACCOUNTNO       211
PERCENT               0
RECEPTIONDATE         0
REGISTRATIONID        0
REQUESTSENDER         0
REQUIREMENTSTATE      0
REQUIREMENTTYPE       0
RESPONDENTID          7
RESPONDENTNAME        8
RESPONSABLE           4
RUB                   0
SCANUSER            653
SISTEMBANKNAME      865
SOLUTIONDAYS          0
SPECIALANOTATION    865
SUBSEGMENT          518
VALUE                58
DOCTYPE_NUM           0
estado                0
anotacion           865
localidad             0
complejidadn          0
encargado             0
dtype: int64

In [33]:
# resultados - regla 7

#df_embargos[["RECEPTIONDATE"]] = df_embargos[["RECEPTIONDATE"]].astype(str)
df_embargos["RECEPTIONDATE"].head()

0    21/04/2021 10:59
1    21/04/2021 10:59
2    21/04/2021 10:59
3    21/04/2021 10:59
4    21/04/2021 10:59
Name: RECEPTIONDATE, dtype: object

In [34]:
def validar_fecha(row):
    
    date = row["RECEPTIONDATE"]
    if len(date) == 16:
        year = date[6:10]
        month = date[3:5]
        day = date[0:2]
        
        hour = date[11:13]
        minute = date[14:16]
    
        concatenated_date = f"{year}-{month}-{day}"
        return str(datetime.strptime(concatenated_date, "%Y-%m-%d").date())
     
# "%h:%m"
# str(datetime.strptime(concatenated_date, "%H:%M").time())

In [35]:
df_embargos["fecha_recepcion"] = df_embargos.apply(validar_fecha, axis = 1)

In [36]:
df_embargos[["fecha_recepcion"]]

    fecha_recepcion
0        2021-04-21
1        2021-04-21
2        2021-04-21
3        2021-04-21
4        2021-04-21
..              ...
860      2021-02-04
861      2021-02-04
862      2021-02-04
863      2021-02-04
864      2021-02-04

[865 rows x 1 columns]

In [37]:
# resultados - regla 8

def validar_hora(row):
    
    date = row["RECEPTIONDATE"]
    if len(date) == 16:
        
        hour = date[11:13]
        minute = date[14:16]
        concatenated_date = f"{hour}:{minute}"
        return str(datetime.strptime(concatenated_date, "%H:%M").time())
    

     
# "%h:%m"
# str(datetime.strptime(concatenated_date, "%H:%M").time())

In [38]:
df_embargos["hora_recepcion"] = df_embargos.apply(validar_hora, axis = 1)

In [39]:
df_embargos[["hora_recepcion"]]

    hora_recepcion
0         10:59:00
1         10:59:00
2         10:59:00
3         10:59:00
4         10:59:00
..             ...
860       07:37:00
861       08:25:00
862       07:51:00
863       07:51:00
864       07:37:00

[865 rows x 1 columns]

In [40]:
# resultados - regla 9

df_embargos[["LETTERTYPE"]]

    LETTERTYPE
0     embargos
1     embargos
2     embargos
3     embargos
4     embargos
..         ...
860   embargos
861   embargos
862   embargos
863   embargos
864   embargos

[865 rows x 1 columns]

In [41]:
df_embargos[["LETTERTYPE"]] = df_embargos[["LETTERTYPE"]].astype(str)

df_embargos["job_id"] = df_embargos["LETTERTYPE"].apply(lambda x: x.upper())

In [42]:
df_embargos[["job_id"]]

       job_id
0    EMBARGOS
1    EMBARGOS
2    EMBARGOS
3    EMBARGOS
4    EMBARGOS
..        ...
860  EMBARGOS
861  EMBARGOS
862  EMBARGOS
863  EMBARGOS
864  EMBARGOS

[865 rows x 1 columns]

In [43]:
# resultados - regla 10

# resultados - regla 11

df_embargos[["ORACLEID"]] = df_embargos[["ORACLEID"]].astype(str)

In [44]:
#df_embargos["id_oracle"] = df_embargos.apply(eliminar_caracter, axis = 1)
df_embargos["id_oracle"] = df_embargos["ORACLEID"].apply(lambda x: x.replace('"',''))

In [45]:
df_embargos[["id_oracle"]]

        id_oracle
0    STG-41243078
1    STG-41243078
2    STG-41243078
3    STG-41243078
4    STG-41243078
..            ...
860  STG-38543057
861  STG-38543155
862  STG-38543381
863  STG-38543381
864  STG-38543386

[865 rows x 1 columns]

In [46]:
# resultados - regla 12

In [47]:
# resultados - regla 14

df_productos[["NRO_DE_IDENTIFICACION_DEL_TITULAR"]] = df_productos[["NRO_DE_IDENTIFICACION_DEL_TITULAR"]].astype(str)


df_productos["numero_documento"] = df_productos["NRO_DE_IDENTIFICACION_DEL_TITULAR"].apply(lambda x: x.lstrip('0'))

In [48]:
df_productos[["numero_documento"]]

    numero_documento
0           68287066
1            8699669
2         1090407176
3           80431468
4           75070484
..               ...
923        180720260
924        180720401
925        180720414
926        180720220
927        180720226

[34210 rows x 1 columns]

In [49]:
df_productos[["TIPO_IDENTIFICACION_TITULAR"]]

    TIPO_IDENTIFICACION_TITULAR
0                             1
1                             1
2                             1
3                             1
4                             1
..                          ...
923                           3
924                           3
925                           1
926                           1
927                           1

[34210 rows x 1 columns]

In [50]:
# RESULTADO LEFT JOIN

df_resultados = ps.sqldf(
    '''
    SELECT * 
    FROM df_embargos
    LEFT JOIN df_productos 
    ON df_productos.TIPO_IDENTIFICACION_TITULAR = df_embargos.DOCTYPE_NUM
    AND df_productos.NRO_DE_IDENTIFICACION_DEL_TITULAR = df_embargos.RESPONDENTID
    '''
, locals())
df_resultados.shape

(882, 131)

In [51]:
df_resultados.columns

Index(['ACCOUNTOFFICE', 'ALLOCATIONDATE', 'APPLICATIONDATE', 'BANKCODE',
       'BANKNAME', 'CASEREFERENCE', 'CHECKCD', 'CHEKMASIVO', 'CITY',
       'CLAIMANTENTITY',
       ...
       'INTERES_EN_SUSPENSION', 'SIGNO_CUPO_DE_REMESAS', 'CUPO_DE_REMESAS',
       'SIGNO_CUPO_REMESA_NEGOCIADA', 'CUPO_REMESA_NEGOCIADA',
       'SIGNO_UTILIZACION_REMESAS', 'UTILIZACION_DE_REMESAS',
       'PARA_USO_FUTURO_INFO_DE_LA_CUENTA', 'CAPTACION', 'numero_documento'],
      dtype='object', length=131)

In [52]:
# resultados - regla 13

def cast_doctype_num_to_name(row):
    if row["DOCTYPE_NUM"] == "1" :
        return "Cedula de Ciudadanía"
    if row["DOCTYPE_NUM"] == "2":
        return "NIT"
    return "Otros"

In [53]:
df_resultados["tipo_documento"] = df_resultados.apply(cast_doctype_num_to_name, axis=1)
df_resultados[["tipo_documento", "DOCTYPE_NUM"]]

           tipo_documento DOCTYPE_NUM
0                     NIT           2
1                   Otros           3
2                     NIT           2
3                   Otros           3
4                   Otros           3
..                    ...         ...
877  Cedula de Ciudadanía           1
878  Cedula de Ciudadanía           1
879                   NIT           2
880  Cedula de Ciudadanía           1
881  Cedula de Ciudadanía           1

[882 rows x 2 columns]

In [54]:
df_productos.isna().sum().head(16)

NUMERO_DE_RASTREO                                     0
TIPO_DE_IDENTIFICACION_DEL_TITULAR                    0
NRO_DE_IDENTIFICACION_DEL_TITULAR                     0
INDICADOR_DE_SOLO_TITULAR_PRINCIPAL                   0
INDICADOR_DE_OMITIR_CUENTAS_CANCELADAS                0
OFICINA_DUENA_DE_LA_CUENTA                        34210
CUENTA_PERMITE_DEBITOS_SOBREGIRO                  34210
CUENTA_PERMITE_CREDITOS_SOBREGIRO                 34210
MARCAS_DE_LAS_CUENTAS_1                           34210
FILLER_PARA_USO_FUTURO                            34210
CODIGO_DE_RESPUESTA                                   0
DESCRIPCION_DE_RESPUESTA                              0
CONSECUTIVO_DE_CUENTAS_CONSULTADAS_POR_CLIENTE        0
TIPO_DE_CUENTA_A_CONSULTAR                            0
NUMERO_DE_CUENTA                                      0
CODIGO_DE_LA_OFICINA_DUENA_DE_LA_CUENTA               0
dtype: int64

In [55]:
# resultados - regla 15

df_resultados["tipo_cuenta"] = df_resultados["TIPO_DE_CUENTA_A_CONSULTAR"]

In [56]:
# resultados - regla 16

df_resultados["numero_cuenta"] = df_resultados["NUMERO_DE_CUENTA"]

In [57]:
%pip install mysql-connector

Requirement already satisfied: mysql-connector in c:\users\lenovo\anaconda3\lib\site-packages (2.2.9)
Note: you may need to restart the kernel to use updated packages.

In [58]:
import mysql.connector

db = mysql.connector.connect(
    host="localhost",
    user="root",
    password="123456",
    database="embargos"
)

In [59]:
cr = db.cursor(buffered=True)

In [60]:
cr.execute('''
    CREATE TABLE IF NOT EXISTS resultados (
    estado varchar(4),
    anotacion varchar(50),
    localidad varchar(30),
    complejidadn varchar(50),
    encargado varchar(100),
    fecha_recepcion varchar(10),
    hora_recepcion varchar(10),
    job_id varchar(20),
    id_oracle varchar(20),
    tipo_documento varchar(20),
    numero_documento varchar(20),
    tipo_cuenta varchar(20),
    numero_cuenta varchar(20)
    )
''')

In [61]:
df_resultados = df_resultados.reset_index()

In [62]:
for index, row in df_resultados.iterrows():
    print(row["encargado"])
    query = '''
     INSERT INTO resultados(
        estado,
        anotacion,
        localidad,
        complejidadn,
        encargado,
        fecha_recepcion,
        hora_recepcion,
        job_id,
        id_oracle,
        tipo_documento,
        numero_documento,
        tipo_cuenta,
        numero_cuenta
     ) VALUES(
        %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s
     )
    '''
    cr.execute(query, (
        row["estado"],
        row["anotacion"],
        row["localidad"],
        row["complejidadn"],
        row["encargado"],
        row["fecha_recepcion"],
        row["hora_recepcion"],
        row["job_id"],
        row["id_oracle"],
        row["tipo_documento"],
        row["numero_documento"],
        row["tipo_cuenta"],
        row["numero_cuenta"],
    ))
    db.commit()

Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Deisy Paola Aguirre Vasquez
Paula Andrea Maya Soto
Paula Andrea Maya Soto
Paula Andrea Maya Soto
Paula Andrea Maya Soto
Paula Andrea Maya Soto
Paula Andrea Maya Soto
Paula Andrea Maya Soto
Paula Andrea Maya Soto
Paula Andrea Maya Soto
Paula Andrea Maya Soto
Paula Andrea Maya Soto
Paula Andrea Maya Soto
Paula Andrea Maya Soto
Paula Andrea Maya Soto
Paula Andrea Maya Soto
Paula Andrea Maya Soto
Paula Andrea Maya Soto
Paula Andrea Maya Soto
Paula Andrea Maya Soto
Paula Andrea Maya Soto
Paula Andrea Maya Soto
Paula Andrea Maya Soto
Paula Andrea Maya Soto
Paula Andrea Maya Soto
Paula Andrea Maya Soto
Paula Andrea Maya Soto
Paula Andrea Maya Soto
Paula Andrea Maya Soto
Paula Andrea Maya Soto
Paula Andrea Maya Soto
Paula Andrea Maya Soto
Paula Andrea Maya Soto
Paula Andrea Maya Soto
Paula Andrea Maya Soto
Paula Andrea Maya Soto
Paula Andrea Maya Soto
Paula Andrea Maya Soto
Paula Andrea Maya Soto
Paula Andrea Maya Soto
Paula Andrea Maya Soto
Paula Andrea Maya Soto
Paula Andrea Maya Soto
Paula Andrea Maya Soto
Paula Andrea Maya Soto
Paula Andrea Maya Soto
Paula Andrea Maya Soto
Paula Andrea Maya Soto
Paula Andrea Maya Soto
Paula Andrea Maya Soto
Paula Andrea Maya Soto
Paula Andrea Maya Soto
Paula Andrea Maya Soto

Paula Andrea Maya Soto
Paula Andrea Maya Soto
Paula Andrea Maya Soto
Paula Andrea Maya Soto
Paula Andrea Maya Soto
Paula Andrea Maya Soto
Paula Andrea Maya Soto
Paula Andrea Maya Soto
Paula Andrea Maya Soto
Paula Andrea Maya Soto
Paula Andrea Maya Soto
Paula Andrea Maya Soto
Paula Andrea Maya Soto
Paula Andrea Maya Soto
Malvy Rosa Torres Molina
Viviana Maryori Morales Lopez
Daniela Restrepo Restrepo
Malvy Rosa Torres Molina
Viviana Maryori Morales Lopez
Manuela Moncada Botero
Daniela Restrepo Restrepo
Veronica Blandon Betancur
Viviana Maryori Morales Lopez
Viviana Maryori Morales Lopez
Daniela Restrepo Restrepo
Diby Yurley Agudelo Tejada
Veronica Blandon Betancur
Manuela Moncada Botero
Diby Yurley Agudelo Tejada
Diby Yurley Agudelo Tejada
Manuela Moncada Botero
Veronica Blandon Betancur
Viviana Maryori Morales Lopez
Viviana Maryori Morales Lopez
Olga Cecilia Quiroz Escobar
Diby Yurley Agudelo Tejada
Diby Yurley Agudelo Tejada
Diby Yurley Agudelo Tejada
Viviana Maryori Morales Lopez
Diby Yurley Agudelo Tejada
Olga Cecilia Quiroz Escobar
Diby Yurley Agudelo Tejada
Viviana Maryori Morales Lopez
Veronica Blandon Betancur
Viviana Maryori Morales Lopez
Diby Yurley Agudelo Tejada
Diby Yurley Agudelo Tejada
Diby Yurley Agudelo Tejada
Viviana Maryori Morales Lopez
Kelly Johanna Alzate Gonzalez
Kelly Johanna Alzate Gonzalez
Malvy Rosa Torres Molina
Viviana Maryori Morales Lopez
Diby Yurley Agudelo Tejada
Malvy Rosa Torres Molina
NULL
Kelly Johanna Alzate Gonzalez
Veronica Blandon Betancur
Veronica Blandon Betancur
Veronica Blandon Betancur
Diby Yurley Agudelo Tejada
Diby Yurley Agudelo Tejada
Veronica Blandon Betancur
Veronica Blandon Betancur
Diby Yurley Agudelo Tejada
Malvy Rosa Torres Molina
Viviana Maryori Morales Lopez
Manuela Moncada Botero
Diby Yurley Agudelo Tejada
Veronica Blandon Betancur
Veronica Blandon Betancur
Veronica Blandon Betancur
Diby Yurley Agudelo Tejada
Veronica Blandon Betancur
Diby Yurley Agudelo Tejada
Diby Yurley Agudelo Tejada
Viviana Maryori Morales Lopez
Diby Yurley Agudelo Tejada
Manuela Moncada Botero
Malvy Rosa Torres Molina
Viviana Maryori Morales Lopez
Manuela Moncada Botero
Viviana Maryori Morales Lopez
Malvy Rosa Torres Molina
Manuela Moncada Botero
Manuela Moncada Botero
Viviana Maryori Morales Lopez
Malvy Rosa Torres Molina
Olga Cecilia Quiroz Escobar
Olga Cecilia Quiroz Escobar
Veronica Blandon Betancur
Manuela Moncada Botero
Yeimi Estefanía Giraldo Saldarriaga
Diby Yurley Agudelo Tejada
Kelly Johanna Alzate Gonzalez
Manuela Moncada Botero
Luisa Maria Lopez Piedrahita
Diby Yurley Agudelo Tejada
Kelly Johanna Alzate Gonzalez
Manuela Moncada Botero
Luisa Maria Lopez Piedrahita
Manuela Moncada Botero
Manuela Moncada Botero
Kelly Johanna Alzate Gonzalez
Malvy Rosa Torres Molina
Viviana Maryori Morales Lopez
Viviana Maryori Morales Lopez
Kelly Johanna Alzate Gonzalez
Kelly Johanna Alzate Gonzalez
Diby Yurley Agudelo Tejada
Diby Yurley Agudelo Tejada
Kelly Johanna Alzate Gonzalez
Manuela Moncada Botero
Veronica Blandon Betancur
Viviana Maryori Morales Lopez
Kelly Johanna Alzate Gonzalez
Veronica Blandon Betancur
Manuela Moncada Botero
Kelly Johanna Alzate Gonzalez
Olga Cecilia Quiroz Escobar
Diby Yurley Agudelo Tejada
Viviana Maryori Morales Lopez
Daniela Restrepo Restrepo
Diby Yurley Agudelo Tejada
Diby Yurley Agudelo Tejada
Luisa Maria Lopez Piedrahita
Manuela Moncada Botero
Veronica Blandon Betancur
Kelly Johanna Alzate Gonzalez
Veronica Blandon Betancur
Yeimi Estefanía Giraldo Saldarriaga
Yeimi Estefanía Giraldo Saldarriaga
Diby Yurley Agudelo Tejada
Manuela Moncada Botero
NULL
NULL
NULL
Sara Valencia Quiroz
Kelly Johanna Alzate Gonzalez
Viviana Maryori Morales Lopez
Manuela Moncada Botero
Manuela Moncada Botero
Kelly Johanna Alzate Gonzalez
Malvy Rosa Torres Molina
Daniela Restrepo Restrepo
Diby Yurley Agudelo Tejada
Malvy Rosa Torres Molina
Viviana Maryori Morales Lopez
Veronica Blandon Betancur
Kelly Johanna Alzate Gonzalez
Luisa Maria Lopez Piedrahita
Luisa Maria Lopez Piedrahita
Viviana Maryori Morales Lopez
Diby Yurley Agudelo Tejada
Kelly Johanna Alzate Gonzalez
Manuela Moncada Botero
Kelly Johanna Alzate Gonzalez
Manuela Moncada Botero
Viviana Maryori Morales Lopez
Diby Yurley Agudelo Tejada
Diby Yurley Agudelo Tejada
Veronica Blandon Betancur
Viviana Maryori Morales Lopez
Viviana Maryori Morales Lopez
Veronica Blandon Betancur
Kelly Johanna Alzate Gonzalez
Kelly Johanna Alzate Gonzalez
Kelly Johanna Alzate Gonzalez
Kelly Johanna Alzate Gonzalez
Viviana Maryori Morales Lopez
Manuela Moncada Botero
Kelly Johanna Alzate Gonzalez
Malvy Rosa Torres Molina
Veronica Blandon Betancur
Diby Yurley Agudelo Tejada
Viviana Maryori Morales Lopez
Veronica Blandon Betancur
Kelly Johanna Alzate Gonzalez
Kelly Johanna Alzate Gonzalez
Manuela Moncada Botero
Diby Yurley Agudelo Tejada
Diby Yurley Agudelo Tejada
Kelly Johanna Alzate Gonzalez
Malvy Rosa Torres Molina
Manuela Moncada Botero
Veronica Blandon Betancur
Kelly Johanna Alzate Gonzalez
Kelly Johanna Alzate Gonzalez
Viviana Maryori Morales Lopez
Viviana Maryori Morales Lopez
Malvy Rosa Torres Molina
Diby Yurley Agudelo Tejada
Luisa Maria Lopez Piedrahita
Diby Yurley Agudelo Tejada
Veronica Blandon Betancur
Malvy Rosa Torres Molina
Kelly Johanna Alzate Gonzalez
Kelly Johanna Alzate Gonzalez
Veronica Blandon Betancur
Veronica Blandon Betancur
Malvy Rosa Torres Molina
Kelly Johanna Alzate Gonzalez
Malvy Rosa Torres Molina
Viviana Maryori Morales Lopez
Viviana Maryori Morales Lopez
Malvy Rosa Torres Molina
Yeimi Estefanía Giraldo Saldarriaga
Manuela Moncada Botero
Diby Yurley Agudelo Tejada
Diby Yurley Agudelo Tejada
Kelly Johanna Alzate Gonzalez
Viviana Maryori Morales Lopez
Viviana Maryori Morales Lopez
Manuela Moncada Botero
Manuela Moncada Botero
Manuela Moncada Botero
Diby Yurley Agudelo Tejada
Luisa Maria Lopez Piedrahita
Viviana Maryori Morales Lopez
Diby Yurley Agudelo Tejada
Veronica Blandon Betancur
Veronica Blandon Betancur
Diby Yurley Agudelo Tejada
Diby Yurley Agudelo Tejada
Manuela Moncada Botero
Manuela Moncada Botero
Diby Yurley Agudelo Tejada
Diby Yurley Agudelo Tejada
Veronica Blandon Betancur
Manuela Moncada Botero
Luisa Maria Lopez Piedrahita
Olga Cecilia Quiroz Escobar
Diby Yurley Agudelo Tejada
Diby Yurley Agudelo Tejada
Diby Yurley Agudelo Tejada
Diby Yurley Agudelo Tejada
Diby Yurley Agudelo Tejada
Luisa Maria Lopez Piedrahita
Luis Fernando Posada Rios
Luis Fernando Posada Rios
Luis Fernando Posada Rios
Olga Cecilia Quiroz Escobar
Malvy Rosa Torres Molina
Malvy Rosa Torres Molina
Malvy Rosa Torres Molina
Malvy Rosa Torres Molina
Luis Fernando Posada Rios
Olga Cecilia Quiroz Escobar
Olga Cecilia Quiroz Escobar
Malvy Rosa Torres Molina
Malvy Rosa Torres Molina
Malvy Rosa Torres Molina
Malvy Rosa Torres Molina
Malvy Rosa Torres Molina
Malvy Rosa Torres Molina
Malvy Rosa Torres Molina
Malvy Rosa Torres Molina
Malvy Rosa Torres Molina
Malvy Rosa Torres Molina
Malvy Rosa Torres Molina
Malvy Rosa Torres Molina
Malvy Rosa Torres Molina
Malvy Rosa Torres Molina
Malvy Rosa Torres Molina
Malvy Rosa Torres Molina
Olga Cecilia Quiroz Escobar
Malvy Rosa Torres Molina
Luis Fernando Posada Rios
Olga Cecilia Quiroz Escobar
Jorge Alejandro Calle Munoz
Luis Fernando Posada Rios
Luis Fernando Posada Rios
Luis Fernando Posada Rios
Olga Cecilia Quiroz Escobar
Maribel Arroyave Foronda
Jorge Alejandro Calle Munoz
Luis Fernando Posada Rios
Maria Jose Gomez Velasquez
Maria Jose Gomez Velasquez
Maribel Arroyave Foronda
Maribel Arroyave Foronda
Maribel Arroyave Foronda
Maria Jose Gomez Velasquez
Maria Jose Gomez Velasquez
Luis Fernando Posada Rios
Luis Fernando Posada Rios
Jorge Alejandro Calle Munoz
Olga Cecilia Quiroz Escobar
Maribel Arroyave Foronda
Luis Fernando Posada Rios
Luis Fernando Posada Rios
Jorge Alejandro Calle Munoz
Jorge Alejandro Calle Munoz
Olga Cecilia Quiroz Escobar
Jorge Alejandro Calle Munoz
Luis Fernando Posada Rios
Ana Carolina Osorio Osorio
Ana Carolina Osorio Osorio
Maribel Arroyave Foronda
Maribel Arroyave Foronda
Luis Fernando Posada Rios
Ana Carolina Osorio Osorio
Ana Carolina Osorio Osorio
Jorge Alejandro Calle Munoz
Ana Carolina Osorio Osorio
Ana Carolina Osorio Osorio
Jorge Enrique Ospina Salazar
Ana Carolina Osorio Osorio
Maribel Arroyave Foronda
Luis Fernando Posada Rios
Ana Carolina Osorio Osorio
Ana Carolina Osorio Osorio
Jorge Enrique Ospina Salazar
Jorge Alejandro Calle Munoz
Maria Jose Gomez Velasquez
Luisa Fernanda Castaneda Toro
Ana Carolina Osorio Osorio
Ana Carolina Osorio Osorio
Luisa Fernanda Castaneda Toro
Ana Carolina Osorio Osorio
Ana Carolina Osorio Osorio
Ana Carolina Osorio Osorio
Malvy Rosa Torres Molina
Ana Carolina Osorio Osorio
Luisa Fernanda Castaneda Toro
Malvy Rosa Torres Molina
Malvy Rosa Torres Molina
Maribel Arroyave Foronda
Diby Yurley Agudelo Tejada
Diby Yurley Agudelo Tejada
Diby Yurley Agudelo Tejada
Diby Yurley Agudelo Tejada
Malvy Rosa Torres Molina
Diby Yurley Agudelo Tejada
Diby Yurley Agudelo Tejada
Daniela Restrepo Restrepo
Diby Yurley Agudelo Tejada
Diby Yurley Agudelo Tejada
Olga Cecilia Quiroz Escobar
Diby Yurley Agudelo Tejada
Diby Yurley Agudelo Tejada
Diby Yurley Agudelo Tejada
Olga Cecilia Quiroz Escobar
Leidy Mariana Valencia Patino
Diby Yurley Agudelo Tejada
Diby Yurley Agudelo Tejada
Leidy Mariana Valencia Patino
Kelly Johanna Alzate Gonzalez
Leidy Mariana Valencia Patino
Leidy Mariana Valencia Patino
Leidy Mariana Valencia Patino
Leidy Mariana Valencia Patino
Leidy Mariana Valencia Patino
Olga Cecilia Quiroz Escobar
Jorge Alejandro Calle Munoz
Luis Fernando Posada Rios
Luis Fernando Posada Rios
Luis Fernando Posada Rios
Olga Cecilia Quiroz Escobar
Maribel Arroyave Foronda
Jorge Alejandro Calle Munoz
Luis Fernando Posada Rios
Maria Jose Gomez Velasquez
Maria Jose Gomez Velasquez
Maribel Arroyave Foronda
Maribel Arroyave Foronda
Maribel Arroyave Foronda
Maria Jose Gomez Velasquez
Maria Jose Gomez Velasquez
Luis Fernando Posada Rios
Luis Fernando Posada Rios
Jorge Alejandro Calle Munoz
Olga Cecilia Quiroz Escobar
Maribel Arroyave Foronda
Luis Fernando Posada Rios
Luis Fernando Posada Rios
Jorge Alejandro Calle Munoz
Jorge Alejandro Calle Munoz
Olga Cecilia Quiroz Escobar
Jorge Alejandro Calle Munoz
Luis Fernando Posada Rios
Ana Carolina Osorio Osorio
Ana Carolina Osorio Osorio
Maribel Arroyave Foronda
Maribel Arroyave Foronda
Luis Fernando Posada Rios
Ana Carolina Osorio Osorio
Ana Carolina Osorio Osorio
Jorge Alejandro Calle Munoz
Ana Carolina Osorio Osorio
Ana Carolina Osorio Osorio
Jorge Enrique Ospina Salazar
Ana Carolina Osorio Osorio
Maribel Arroyave Foronda
Luis Fernando Posada Rios
Ana Carolina Osorio Osorio
Ana Carolina Osorio Osorio

Jorge Enrique Ospina Salazar
Jorge Alejandro Calle Munoz
Maria Jose Gomez Velasquez
Luisa Fernanda Castaneda Toro
Ana Carolina Osorio Osorio
Ana Carolina Osorio Osorio
Luisa Fernanda Castaneda Toro
Ana Carolina Osorio Osorio
Ana Carolina Osorio Osorio
Ana Carolina Osorio Osorio
Malvy Rosa Torres Molina
Ana Carolina Osorio Osorio
Luisa Fernanda Castaneda Toro
Malvy Rosa Torres Molina
Malvy Rosa Torres Molina
Maribel Arroyave Foronda
Luis Fernando Posada Rios
Luis Fernando Posada Rios
Malvy Rosa Torres Molina
Luis Fernando Posada Rios
Luis Fernando Posada Rios
Luis Fernando Posada Rios
Luis Fernando Posada Rios
Luis Fernando Posada Rios
Luis Fernando Posada Rios
Malvy Rosa Torres Molina
Luis Fernando Posada Rios
Luis Fernando Posada Rios
Jorge Alejandro Calle Munoz
Malvy Rosa Torres Molina
Malvy Rosa Torres Molina
Maria Jose Gomez Velasquez
Luis Fernando Posada Rios
Luis Fernando Posada Rios
Luis Fernando Posada Rios
Malvy Rosa Torres Molina
Luis Fernando Posada Rios
Maribel Arroyave Foronda
Maribel Arroyave Foronda
Maribel Arroyave Foronda
Maria Jose Gomez Velasquez
Maria Jose Gomez Velasquez
Maria Jose Gomez Velasquez
Maria Jose Gomez Velasquez
Maribel Arroyave Foronda
Maribel Arroyave Foronda
Maribel Arroyave Foronda
Luis Fernando Posada Rios
Luis Fernando Posada Rios
Maria Jose Gomez Velasquez
Maria Jose Gomez Velasquez
Jorge Alejandro Calle Munoz
Maribel Arroyave Foronda
Maria Jose Gomez Velasquez
Maria Jose Gomez Velasquez
Luis Fernando Posada Rios
Maria Jose Gomez Velasquez
Maria Jose Gomez Velasquez
Maribel Arroyave Foronda
Luis Fernando Posada Rios
Jorge Enrique Ospina Salazar
Maribel Arroyave Foronda
Maribel Arroyave Foronda
Ana Carolina Osorio Osorio
Luis Fernando Posada Rios
Ana Carolina Osorio Osorio
Ana Carolina Osorio Osorio
Olga Cecilia Quiroz Escobar
Ana Carolina Osorio Osorio
Jorge Enrique Ospina Salazar
Ana Carolina Osorio Osorio
Luis Fernando Posada Rios
Olga Cecilia Quiroz Escobar
Ana Carolina Osorio Osorio
Jorge Alejandro Calle Munoz
Malvy Rosa Torres Molina
Maribel Arroyave Foronda
Maribel Arroyave Foronda
Ana Carolina Osorio Osorio
Olga Cecilia Quiroz Escobar
Jorge Enrique Ospina Salazar
Luis Fernando Posada Rios
Luis Fernando Posada Rios
Luis Fernando Posada Rios
Luis Fernando Posada Rios
Luis Fernando Posada Rios
Luis Fernando Posada Rios
Juliana Palacio Posada
Juliana Palacio Posada
Juliana Palacio Posada
Juliana Palacio Posada
Juliana Palacio Posada
Tatiana Norena Rodriguez
Olga Cecilia Quiroz Escobar
Juliana Palacio Posada
Juliana Palacio Posada
Olga Cecilia Quiroz Escobar
Juliana Palacio Posada
Ana Carolina Osorio Osorio
Tatiana Norena Rodriguez
Tatiana Norena Rodriguez
Ana Carolina Osorio Osorio
Malvy Rosa Torres Molina
Olga Cecilia Quiroz Escobar
Tatiana Norena Rodriguez
Luis Fernando Posada Rios
Malvy Rosa Torres Molina
Malvy Rosa Torres Molina
Olga Cecilia Quiroz Escobar
Tatiana Norena Rodriguez
Olga Cecilia Quiroz Escobar
Juliana Palacio Posada
Olga Cecilia Quiroz Escobar
Tatiana Norena Rodriguez
Tatiana Norena Rodriguez
Ana Carolina Osorio Osorio
Juliana Palacio Posada
Juliana Palacio Posada
Luis Fernando Posada Rios
Olga Cecilia Quiroz Escobar
Olga Cecilia Quiroz Escobar
Malvy Rosa Torres Molina
Olga Cecilia Quiroz Escobar
Juliana Palacio Posada
Olga Cecilia Quiroz Escobar
Malvy Rosa Torres Molina
Olga Cecilia Quiroz Escobar
Juliana Palacio Posada
Olga Cecilia Quiroz Escobar
Juliana Palacio Posada
Juliana Palacio Posada
Juliana Palacio Posada
Ana Carolina Osorio Osorio
Tatiana Norena Rodriguez
Tatiana Norena Rodriguez
Olga Cecilia Quiroz Escobar
Luis Fernando Posada Rios
Luis Fernando Posada Rios
Luis Fernando Posada Rios
Olga Cecilia Quiroz Escobar
Luis Fernando Posada Rios
Luis Fernando Posada Rios
Luis Fernando Posada Rios
Ana Carolina Osorio Osorio